<section class="section section-technology">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="technology-description">
                    Software for modern platforms <br> Our app development company helps businesses and individuals establish their presence on any modern device and platform – mobile, web, and IoT Web, iOS, Android, IoT
                </p>
            </div>
            <div class="col-md-6">
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/mobile.png" alt="Mobile" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">Mobile</h2>
                        <p>
                            Android: Java, Kotlin iOS: Swift, Objective C, Cross Platform: react Native
                        </p>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/web.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">Website</h2>
                        <p>
                            Front-end: JavaScript, TypeScript, HTML5, CSS3, Angular, React. <br> Back-end: PHP, Python, Node.js, .Net, Java. <br> Framework: Django, Laravel, Java Spring. <br>
                        </p>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/database.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">Database</h2>
                        <p>
                            MySQL, MongoDB, PostgreSQL, MS SQL
                        </p>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/server-os.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">SERVER OS</h2>
                        <p>
                            Linux, Window Server
                        </p>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/cloud.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">Cloud Infrastructure</h2>
                        <p>
                            AWS, Azure, Google Cloud
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/embedded.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">Embedded System</h2>
                        <p>
                            <b>Embedded Design </b> <br> Design Circuit <br> Providing solution IoT product <br>
                            <b>Embedded System</b> Languge: C/C++, Python, Java <br> Wireless Tech: WiFi, BLE, GSM/3G/4G, NBIoT, LoRa <br> OS: FreeRTOS, Linux, Android, Windows CE Embedded
                        </p>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/ai.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">AI ( Machine Learning, Deep Learning )</h2>
                        <p>
                            Tensoflow, Keras, Pytorch
                        </p>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/blockchain.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">BlockChain</h2>
                    </div>
                </div>
                <div class="technology">
                    <div class="technology-image">
                        <img src="../../../assets/images/technologies/source-code-management-tool.png" alt="Website" />
                    </div>
                    <div class="technology-content">
                        <h2 class="text-uppercase">SOURCE-CODE MANAGEMENT TOOLS</h2>
                        <p>
                            GitLab, GitHub, Bitbucket
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>