<section class="section section-our-clients" data-title="Our Clients">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase section-header">{{ our_clients.header }}</h1>
            </div>
            <div class="col-12 text-center">
                <p class="section-description">{{ our_clients.description }}</p>
            </div>
        </div>
        <div class="swiper-container swiper-clients">
            <div class="swiper-wrapper">
                <div *ngFor="let client of our_clients.clients" class="swiper-slide client">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img class="client-image" src="{{ client.image }}" alt="{{ client.name }}" />
                            <p class="client-description">{{ client.description }}</p>
                            <h3 class="client-name">{{ client.name }}</h3>
                            <h4 class="client-position">{{ client.position }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>