<section class="section section-cover" data-title="Cover" #section_cover>
    <canvas id="cover" class="draw" style="display: none;" #canvas_cover></canvas>
    <div id="cover-slide-0" class="col cover-slide content-top active">
        <div class="text-center text-uppercase cover-title">
            <img class="" src="../../../../assets/images/logo_full.png" alt="Logo full" #logo_full/>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="cover-logo">
                <img src="../../../../assets/images/banner/1.png" alt="Logo Partner" />
                <img src="../../../../assets/images/banner/2.png" alt="Logo Partner" />
                <img src="../../../../assets/images/banner/3.png" alt="Logo Partner" />
                <img src="../../../../assets/images/banner/4.png" alt="Logo Partner" />
                <img src="../../../../assets/images/banner/5.png" alt="Logo Partner" />
            </div>
            <div id="cover-slide-1" class="col cover-slide content-center ">
                <div class="text-center text-uppercase cover-title">
                    <h1>{{ demo.COMPANY_NAME }}</h1>
                </div>
                <div class="text-center text-uppercase cover-logan">
                    <h2>{{ demo.COMPANY_LOGAN }}</h2>
                </div>
                <div class="text-center cover-description">
                    <h3>{{ demo.COMPANY_DESCRIPTION }}</h3>
                </div>
            </div>
        </div>
        <ol class="cover-indicators">
            <span class="indicator active" data-slide-to="0" (click)="slide($event)"></span>
            <span class="indicator" data-slide-to="1" (click)="slide($event)"></span>
        </ol>
    </div>
</section>