.six-reasons {
    padding-top: 0px;
    position: relative;

    &-container {
        padding-left: 300px;
        padding-right: 300px;
    }

    &__title {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        &--number {
            h2 {
                font-size: 250px;
                font-weight: 700;
                line-height: 300px;
                opacity: 0.15;
                margin-bottom: 0;
            }
            color: #01bdd5;

            animation: pulse 1s ease-in-out infinite;
        }

        &--sub {
            h2 {
                font-size: 40px;
                line-height: 55px;
                background: linear-gradient(to left, #008fbe, #01bdd5);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
            
            align-self: center;
            padding-top: 65px;
            margin-left: -75px;
        }
    }

    &__line {
        position: absolute;
        top: 100px;
        left: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;

        &--number {
            height: 60px;
            width: 60px;
            background-image: linear-gradient(to bottom, #008fbe, #01bdd5);
            font-size: 22px;
            color: #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--content {
            &--title {
                padding: 10px 0 10px 0;
                text-align: center;

                h3 {
                    font-size: 24px;
                    font-weight: 600;

                    background: linear-gradient(to right, #01bdd5, #008fbe);
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }

            &--sub {
                h4 {
                    font-size: 18px;
                    line-height: 24px;
                }
                color: #707070;
                text-align: center;
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .six-reasons {
        &__line {
            img {
                width: 250px !important;
                height: 130px !important;
            }
        }
        &__item {
            padding-bottom: 50px;
        }
        &-container {
            padding: 0 200px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .six-reasons {
        &__line {
            img {
                width: 220px !important;
                height: 100px !important;
            }
        }
        &-container {
            padding: 0 150px;
        }
    }
}
@media screen and (max-width: 992px) {
    .six-reasons {
        padding-bottom: 50px;
        &__line {
            display: none;
        }
        &__title {
            padding-bottom: 0;
            &--number {
                h2 {
                    font-size: 150px;
                    line-height: 180px;
                }
            }
            &--sub {
                h2 {
                    font-size: 25px;
                    font-weight: bold;
                }
                padding-top: 45px;
                margin-left: -60px;
            }
        }
        &__item {
            padding-bottom: 30px;
            flex-direction: row;
            align-items: flex-start;

            &--content {
                padding-left: 30px;
                &--title {
                    text-align: start;
                    padding: 0;
                    h3 {
                        font-size: 20px;
                    }
                }
                &--sub {
                    text-align: start;
                    h4 {
                        font-size: 18px;
                    }
                }
            }
        }
        &-container {
            padding: 0 70px !important;
        }
    }
}
@media screen and (max-width: 768px) {
    .six-reasons {
        &__item {
            padding-bottom: 15px;

            &--number {
                height: 45px;
                width: 45px;
                font-size: 20px;
            }

            &--content {
                &--title {
                    h3 {
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
                &--sub {
                    h4 {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
        &-container {
            padding: 0 80px !important;
        }
    }
}
@media screen and (max-width: 575px) {
    .six-reasons {
        &-container {
            padding: 0 55px !important;
        }
        &__item {
            &--content {
                &--sub {
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .six-reasons {
        &__item {
            padding-bottom: 15px;

            &--number {
                height: 45px;
                width: 45px;
                font-size: 20px;
            }

            &--content {
                &--title {
                    h3 {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                &--sub {
                    h4 {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
