.jobs {
    &-header {
        position: relative;
        text-align: center;

        &__line {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__title {
            &--sub {
                width: 80%;
                margin: 0 auto;    

                h2 {
                    font-size: 150px;
                    font-weight: 600;
                    line-height: 200px;
                    opacity: 0.12;

                    color: #01bdd5;

                    animation: pulse 1s ease-in-out infinite;
                }

                h3 {
                    font-size: 30px;
                    line-height: 45px;
                    color: #707070;

                    transform: translateY(-105px);
                }

                span {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 6px;
                        left: 0;
                        background-color: #01bdd5;
                        height: 6px;
                        width: 100%;
                        z-index: -1;
                    }
                }
            }

            &--main {
                
            }
        }
    }

    &-content {
        padding: 0 105px;

        &__item {
            cursor: pointer;
            margin-bottom: 40px;
            background: url("assets/images/career/background-jobs.png") no-repeat;
            background-size: 100% 100%;

            &:hover {
                background: url("assets/images/career/background-jobs-active.png") no-repeat;
                background-size: 100% 100%;
                transition: 0.5s ease;
                // background-size: contain;

                .date {
                    div {
                        &:last-child {
                            border: none;
                            transition: 0.5s ease;
                            background: #01bdd5;
                            
                            border: 1px solid #01bdd5;
                            text-align: center;

                        }
                    }
                    a {
                        color: #ffffff;
                    }
                }

                .options {
                    .time {
                        div {
                            &:first-child {
                                color: #707070;
                            }
                        }
                    }

                    .city {
                        div {
                            &:first-child {
                                color: #707070;
                            }
                        }
                    }
                }

                .date {
                    div {
                        &:first-child {
                            color: #707070;
                        }
                    }
                }
            }
        }

        &__job {
            padding: 35px 55px 35px 35px;
            color: #707070;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h3 {
                font-size: 24px;
            }
            h4 {
                font-size: 20px;
                color: #01bdd5;
            }
            h5 {
                font-size: 18px;
                font-weight: 500 !important;
            }

            .description, .requirement, .technical {
                padding-top: 20px;
            }

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--position {
                    padding: 15px 0;
                }
            }

            .line {
                height: 2px;
                width: 10%;
                background: #707070;
            }

            .options {
                display: flex;
                padding: 20px 0;

                .city {
                    display: flex;
                    align-items: center;
                    padding-right: 50px;

                    div {
                        padding-left: 20px;

                        &:first-child {
                            color: #01bdd5;
                        }
                    }
                }

                .time {
                    display: flex;
                    align-items: center;

                    div {
                        padding-left: 20px;

                        &:first-child {
                            color: #01bdd5;
                        }
                    }
                }
            }

            .date {
                display: flex;
                flex-wrap: wrap;
                align-items: end;

                div {
                    padding-left: 20px;
                    &:first-child {
                        color: #01bdd5;
                    }
                    &:last-child {
                        margin-top: 20px;
                        padding-left: 0;
                        width: 100%;
                        border: 1px solid #01bdd5;
                        background-color: #fff;
                        width: 100%;
                        font-size: 20px;
                        line-height: 32px;
                        min-height: 36px;
                        text-align: center;
                    }
                }
            }

            .apply {
                a {
                    color: #01bdd5;
                    text-decoration: none;
                }
            }
        }
    }

    &__show {
        text-align: center;
        margin-bottom: 90px;

        button {
            width: 20%;
            border: none;
            background: #01bdd5;
            color: #fff;
            font-size: 24px;
            padding: 5px;
            border: 1px solid #01bdd5;
            transition: 0.3s ease;
            &:hover {
                border: 1px solid #01bdd5;
                background: #fff;
                color: #01bdd5;
                transition: 0.3s ease;
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    .jobs {
        &-header {
            &__line {
                img {
                    width: 300px !important;
                }
            }
        }
        &-content {
        }
        &__statistic {
            padding: 0 200px;
        }
    }
}
@media screen and (max-width: 1400px) {
    .jobs {
        &-header {
            &__line {
                img {
                    width: 250px !important;
                    height: 130px !important;
                }
            }
        }
        &-content {
            padding: 0 70px;
            &__item {
                margin-bottom: 50px;
            }
            &__job {

                .options {
                    .city {
                        div {
                            padding-left: 0;
                            padding-right: 10px;
                        }
                    }
                    .time {
                        div {
                            padding-left: 0;
                            padding-right: 10px;
                        }
                    }
                }

                .date {
                    div {
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
        &__show {
            margin-bottom: 60px;
            button {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .jobs {
        &-header {
            &__line {
                top: 30%;
                img {
                    width: 220px;
                }
            }
        }
        &-content {
            padding: 0 30px;
            &__item {
                margin-bottom: 30px;
            }
            &__job {
                .options {
                    .city {
                        div {
                            padding-left: 0;
                            padding-right: 10px;
                        }
                    }
                }

                .date {
                    div {
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
        &__show {
            margin-bottom: 60px;
            button {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .jobs {
        &-header {
            &__line {
                display: none;
            }
        }
        &-content {
            padding: 0 !important;
            &__item {
                margin-bottom: 30px;
                background: none;
                width: 100% !important;

                &:hover {
                    background-image: url("assets/images/career/filter-jobs.png");
                    background-size: 100% 100%;
                    transition: 0.5s ease;
                }
            }
            &__job {
                padding: 45px 90px;
                font-size: 22px;

                &-header {
                    div {
                        &:first-child {
                            display: flex;
                            align-items: center;
                        }
                    }
                    &--name {
                        padding-left: 0;
                        margin-right: 20px;
                        font-size: 26px;
                        font-weight: bold;
                    }
                    &--position {
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding-left: 20px;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            height: 23px;
                            width: 2px;
                            background-color: #464646;
                        }
                    }
                }

                .line {
                    display: none;
                }

                .requirement {
                    display: flex;
                    padding-top: 20px;
                    margin-bottom: 0;

                    h5 {
                        margin: 0;
                        padding-left: 65px;
                    }
                }
                .description {
                    display: flex;
                    padding-top: 20px;
                    margin-bottom: 0;

                    h5 {
                        margin: 0;
                        padding-left: 37px;
                    }
                }
                .technical {
                    display: flex;
                    padding-top: 20px;
                    margin-bottom: 0;

                    h5 {
                        margin: 0;
                        padding-left: 45px;
                    }
                }
                .options {
                    padding-top: 20px;
                    width: 100%;
                    margin-bottom: 0;
                }
                .date {
                    // justify-content: space-between;
                    position: relative;
                    padding-top: 20px;
                    div {
                        &:first-child,
                        &:nth-child(2) {
                            line-height: 22px;
                        }
                        &:last-child {
                            padding-top: 0;
                            width: 25%;
                            display: flex;
                            padding-right: 0 !important;
                            position: absolute;
                            right: 0;
                            justify-content: center;

                            button {
                                padding: 10px 10px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &__show {
            margin-bottom: 60px;
            button {
                font-size: 20px;
            }
        }
        &__statistic {
            padding: 0 100px;
            margin-bottom: 0;
            &-item {
                .num {
                    font-size: 30px;
                }
                .title {
                    font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .jobs {
        &-content {
            &__job {
                padding: 20px 80px;
                font-size: 16px !important;

                &-header {
                    &--name {
                        h3 {
                            font-size: 30px;
                        }
                    }
                }

                .requirement {
                    h4 {
                        font-size: 16px;
                    }
                    h5 {
                        font-size: 14px;
                        padding-left: 95px;
                    }
                }
                .description {
                    h4 {
                        font-size: 16px;
                    }
                    h5 {
                        font-size: 14px;
                        padding-left: 72px;
                    }
                }
                .technical {
                    h4 {
                        font-size: 16px;
                    }
                    h5 {
                        font-size: 14px;
                        padding-left: 80px;
                    }
                }
                .date {
                    div {
                        &:last-child {
                            button {
                                width: 100%;
                                padding: 10px 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        &__show {
            margin-bottom: 40px;
            button {
                width: 25%;
                font-size: 16px;
            }
        }
        &__statistic {
            padding: 0 80px;
            &-item {
                padding: 60px 0;
                .num {
                    font-size: 25px;
                }
                .title {
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 735px) {
    .jobs {
        &-content {
            &__job {
                padding: 35px 60px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .jobs {
        &-header {
            &__title {
                &--sub {
                    h2 {
                        font-size: 100px;
                        line-height: 110px;
                    }
                    h3 {
                        transform: translateY(-60px);
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
                &--main {
                    
                }
            }
        }
        &-content {
            &__item {
                padding: 0 !important;
            }
            &__job {
                padding: 20px 30px;
                font-size: 16px;

                &-header {
                    &--name {
                        h3 {
                            font-size: 25px;
                        }
                    }
                }

                .requirement {
                    h4 {
                        font-size: 14px;
                    }
                    h5 {
                        padding-left: 45px;
                    }
                }
                .description {
                    h5 {
                        padding-left: 27px;
                    }
                }
                .technical {
                    h4 {
                        font-size: 14px;
                    }
                    h5 {
                        padding-left: 40px;
                    }
                }
                .date {
                    div {
                        &:last-child {
                            width: 45%;
                            button {
                                padding: 5px 10px;
                                font-size: 12px;
                                width: 70%;
                            }
                        }
                        &:nth-child(2) {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
        &__show {
            margin-bottom: 40px;
            button {
                font-size: 14px;
            }
        }
        &__statistic {
            padding: 0 80px;
            &-item {
                padding: 20px 0;
                .num {
                    font-size: 25px;
                }
                .title {
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .jobs {
        &-header {
            &__title {
                &--sub {
                    h2 {
                        font-size: 100px;
                        line-height: 100px;
                    }
                    h3 {
                        font-size: 18px;
                        top: 35%;
                        left: 22%;
                    }
                }
                &--main {
                    
                }
            }
        }
        &-content {
            &__job {
                font-size: 14px;

                &-header {
                    div {
                        &:first-child {
                            margin-right: 20px;
                            font-size: 20px;
                        }
                    }
                    &--time {
                        font-size: 18px;
                    }
                }
                .requirement {
                    p {
                        padding-left: 25px;
                    }
                }
                .description {
                    p {
                        padding-left: 7px;
                    }
                }
                .technical {
                    div {
                        padding-left: 30px;
                    }
                }
                .options {
                    width: 100%;
                }
                .date {
                    div {
                        &:last-child {
                            button {
                                padding: 5px 10px;
                                font-size: 14px;
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
        &__show {
            button {
                width: 30%;
                font-size: 14px;
            }
        }
        &__statistic {
            &-item {
                padding: 20px 0;
            }
        }
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
