.filter-job {
    padding-bottom: 93px;
    &-container {
        padding: 0 105px;
        background-image: url("assets/images/career/filter-jobs.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &__row {
        padding: 97px 0;

        input {
            width: 100%;
        }

        .select-custom,
        input {
            border: none;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px 10px;
            text-align: center;
            font-size: 25px;
            line-height: 44px;
            cursor: pointer;
            position: relative;
            &_option {
                position: absolute;
                width: 100%;
                left: 0;
                top: 103%;
                z-index: 100;

                &--item {
                    background-color: #ffffff;
                    width: 100%;
                    box-shadow: -3px 4px 10px #e5d3cc;
                }
            }
            &_selected {
                position: relative;
                &--down {
                    position: absolute;
                    right: 40px;
                    top: -2px;
                    font-size: 20px;
                }

                &--icon {
                    position: absolute;
                    left: 40px;
                    top: -2px;
                    font-size: 30px;
                }
            }
        }
    }

    &__search {
        position: relative;

        &--icon {
            position: absolute;
            top: 35%;
            left: 60px;
            font-size: 30px;
            z-index: 2;
        }
    }
}
@media screen and (max-width: 1400px) {
    .filter-job {
        &__row {
            padding: 50px 0;

            input {
                font-size: 20px;
            }
        }
        &__search {
            &--icon {
                left: 40px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .filter-job {
        padding-bottom: 50px;
        &-container {
            padding: 0 60px;
        }
        &__row {
            padding: 50px 0;

            input {
                font-size: 18px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .filter-job {
        padding-bottom: 50px;
        &-container {
            padding: 0 110px;
        }
        &__search {
            &--icon {
                font-size: 25px;
                left: 50px;
            }
        }
        &__row {
            padding: 50px 0;

            .col-md-4 {
                &:nth-child(1),
                &:nth-child(2) {
                    width: 50%;
                    padding-bottom: 20px;
                }
                &:nth-child(3) {
                    width: 100%;
                }
            }

            input {
                padding: 10px 10px;
                font-size: 18px;
            }

            .select-custom {
                padding: 10px 10px;
                &_selected {
                    &--icon {
                        font-size: 25px;
                        left: 25px;
                    }
                    &--down {
                        font-size: 25px;
                        right: 25px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .filter-job {
        padding-bottom: 20px;
        &__search {
            &--icon {
                font-size: 20px;
                left: 30px;
            }
        }
        &__row {
            input {
                padding: 5px 5px;
            }
            .select-custom {
                padding: 5px 5px;
                &_selected {
                    font-size: 18px;
                    &--icon {
                        left: 15px;
                        font-size: 20px;
                    }
                    &--down {
                        right: 15px;
                        font-size: 20px;
                    }
                }
                &_option {
                    &--item {
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .filter-job {
        &__search {
            &--icon {
                left: 35px;
            }
        }
        &-container {
            padding: 0 50px;
        }
    }
    .col-md-4 {
        &:nth-child(1),
        &:nth-child(2) {
            width: 100%;
            padding-bottom: 20px;
        }
        &:nth-child(3) {
            width: 100%;
        }
    }
}
@media screen and (max-width: 420px) {
    .filter-job {
        &__search {
            &--icon {
                left: 40px;
            }
        }
        &__row {
            input {
                font-size: 16px;
            }
            .select-custom {
                &_selected {
                    font-size: 12px;
                    &--icon {
                        left: 0px;
                    }
                    &--down {
                        right: 0px;
                    }
                }
                &_option {
                    &--item {
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
