.career-apply {
    &_title-both {
        position: relative;
    }
    &_line {
        position: absolute;
        top: 0;
    }
    &_title {
        font-size: 160px;
        line-height: 150px;
        opacity: 0.12;
        text-align: center;
        color: #01a6ca;
        text-transform: uppercase;
        font-weight: bold;
    }
    &_sub-title {
        font-size: 72px;
        line-height: 110px;
        background: linear-gradient(200deg, #008fbe, #01bdd5);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translateX(-45%);
    }
    &_note {
        padding-top: 60px;
        font-size: 27px;
        line-height: 43px;
        color: #000000;
        text-align: center;
    }
}
@media screen and (max-width: 1600px) {
    .career-apply {
        &_line {
            img {
                width: 260px !important;
                height: 140px !important;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .career-apply {
        &_line {
            img {
                width: 220px !important;
                height: 120px !important;
            }
        }
        &_title {
            font-size: 120px;
        }
        &_sub-title {
            font-size: 50px;
            line-height: 80px;
            bottom: 0;
        }
        &_note {
            padding-top: 30px;
            font-size: 22px;
            line-height: 30px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .career-apply {
        &_line {
            img {
                width: 200px !important;
                height: 100px !important;
            }
        }
        &_title {
            font-size: 100px;
            line-height: 130px;
        }
        &_sub-title {
            font-size: 35px;
            line-height: 60px;
            bottom: 0;
        }
        &_note {
            padding-top: 30px;
            font-size: 18px;
            line-height: 25px;
        }
    }
}
@media screen and (max-width: 992px) {
    .career-apply {
        &_line {
            display: none;
        }
        &_head {
            padding-top: 30px;
        }
        &_note {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .career-apply {
        &_head {
            padding-top: 20px;
        }
        &_title {
            font-size: 70px;
            line-height: 100px;
        }
        &_sub-title {
            font-size: 30px;
            line-height: 45px;
            bottom: 10px;
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 575px) {
    .career-apply {
        &_title {
            font-size: 50px;
            line-height: 70px;
        }
        &_sub-title {
            font-size: 20px;
            line-height: 40px;
            bottom: 0;
        }
    }
}
@media screen and (max-width: 420px) {
    .career-apply {
        &_head {
            padding-top: 0;
        }
    }
}
.contact-about {
    overflow: hidden;
    &_content {
        padding: 105px;
        position: relative;

        &__list {
            display: flex;
            flex-wrap: wrap;

            &--item {
                width: calc(100% / 2);
                padding-right: 60px;
                box-sizing: border-box;
            }
        }
        &--left {
            padding-right: 50px;
        }
        &--right {
            padding-left: 73px;
        }
        &--name,
        &--phone,
        &--company,
        &--email,
        &--service,
        &--budget,
        &--message,
        &--url,
        &--start {
            padding-top: 18px;
        }
        &--name {
            // flex-grow: 1;
            padding-right: 25px;
            display: inline-block;
            width: 50%;
        }
        &--phone {
            // flex-grow: 1;
            padding-left: 25px;
            display: inline-block;
            width: 50%;
        }
        &--label {
            font-size: 26px;
            line-height: 40px;
            padding-bottom: 6px;
            color: #000000;
            transition: 0.1s ease-in-out;
        }
        input {
            border: 1px solid #000000;
            border-radius: 8px;
            font-size: 25px;
            line-height: 40px;
            padding: 2px 10px;
            width: 100%;
            &:focus {
                outline: none;
                transition: 0.5s ease;
            }
        }
        &--service {
            .pick-service {
                display: flex;
                justify-content: space-between;
                flex-flow: row wrap;
                &_item {
                    flex: 0 0 33.333%;
                    position: relative;
                    
                    div {
                        position: relative;
                        width: 100%;
                        font-size: 18px;
                        line-height: 46px;

                        display: flex;
                        justify-content: center;

                        &:hover {
                            color: #01bdd5;
                            transition: 0.5s ease;
                        }

                        label {
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;

                            overflow: hidden;
                        }

                        input {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            opacity: 0;
                            cursor: pointer;
                        }
                        input[type="checkbox"]:checked {
                            & + label {
                                color: #01bdd5;
                                transition: 0.1s ease-in-out;
                            }
                        }
                    }
                    &:nth-child(2) {
                        &::before {
                            content: "";
                            height: 40px;
                            width: 2px;
                            background-color: #000000;
                            position: absolute;
                            left: 0;
                            top: 60%;
                        }
                        &::after {
                            content: "";
                            height: 40px;
                            width: 2px;
                            background-color: #000000;
                            position: absolute;
                            right: 0;
                            top: 60%;
                        }
                    }
                }
            }
        }
        &--message {
            textarea {
                width: 100%;
                border-radius: 8px;
                border: 1px solid #000000;
                padding: 10px;
                &:focus {
                    outline: none;
                    transition: 0.5s ease;
                }
            }
        }
        &--budget {
            input {
                max-width: 32%;
                width: auto;
            }
            .select-currency {
                min-width: 25%;
            }
            .icon-next {
                position: absolute;
                left: 33.5%;
                font-size: 20px;
                top: 5px;
            }
        }
        &--attach {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            font-size: 25px;
            line-height: 25px;
            color: #000000;

            position: relative;

            .attach {
                padding-bottom: 15px;
                position: relative;
                display: flex;

                &-name {
                    position: absolute;
                    top: 0 !important;
                    right: 0;

                    display: none;

                    &.active {
                        display: block;
                    }
                }

                span {
                    &:nth-child(2) {
                        font-size: 14px;
                        color: #01bdd5;
                    }
                }

                .icon-attach {
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;

                    span {
                        color: #000;
                        transform: unset !important;

                        &:hover {
                            color: #01bdd5;
                            cursor: pointer;
                            transition: 0.5s ease;
                        }
                    }

                    i {
                        font-size: 22px;
                        color: #28c2d8;
                        padding-left: 10px;

                        svg {
                            transform: translateY(-5px) rotate(40deg);
                        }
                    }
                    
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;

                        &:focus {
                            cursor: pointer;
                        }
                    }
                } 
            }
            .policy {
                a {
                    color: #28c2d8;
                    text-decoration: none;
                }
            }
        }
        &--button {
            margin-top: 70px;
            background-color: #15a6c9;
            border-radius: 10px;
            padding: 14px 0;
            min-width: 237px;
            line-height: 25px;
            text-align: center;
            cursor: pointer;
            color: #fff;
            transition: 0.2s ease-in;
            border: 1px solid #fff;
            &:hover {
                border: 1px solid #15a6c9;
                background-color: #ffffff;
                color: #15a6c9;
                transition: 0.2s ease-in;
            }
        }

        .alert-message {
            position: absolute;
            right: 0;
            margin-right: 150px;

            height: 40px;
            width: 150px;
            background: green;

            text-align: center;
            padding: 12px 0;
            

            p {
                color: #fff;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 1820px) {
    .contact-about {
        &_content {
            &--button {
                padding: 0;
                min-width: 125px;
                // width: 145px;
                height: 45px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .contact-about {
        &_content {
            padding: 90px;

            &--label {
                font-size: 22px;
            }

            &--attach {
                font-size: 18px;
            }

            &--button {
                padding: 0;
                min-width: 145px;
                // width: 145px;
                height: 45px;
            }

            &--service {
                .pick-service {
                    &_item {
                        div {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .contact-about {
        &_content {
            padding: 50px;

            &--attach {
                font-size: 16px;
            }

            &--service {
                .pick-service {
                    &_item {
                        div {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .contact-about {
        &_content {
            &--right {
                padding-left: 20px;
            }

            &--label {
                font-size: 20px;
            }

            &--attach {
                font-size: 14px;
            }

            &--service {
                .pick-service {
                    &_item {
                        div {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .contact-about {
        &_content {
            padding-top: 0;

            &--button {
                margin-top: 0px;
            }

            input {
                font-size: 20px;
                line-height: 30px;
            }

            &--name {
                width: 50%;
            }

            &--phone {
                width: 50%;
                padding-left: 0;
                order: 3;
            }

            &--company {
                width: 50%;
                padding-right: 0;
                order: 4;
            }

            &--email {
                width: 50%;
                order: 2;
            }

            &--budget {
                width: 50%;

                div {
                    padding-right: 0 !important;
                }

                .select-currency {
                    min-width: 30%;
                    padding-left: 15px;
                }

                .select-custom {
                    height: 36px;
                    padding: 10px 0;

                    &_selected {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }

                .icon {
                    &-next {
                        left: 32%;
                    }
                }
            }

            &--message {
                textarea {
                    height: 120px;
                }
            }

            &--message,
            &--url {
                width: 50%;
            }
            &--message,
            &--attach {
                &.pad {
                    margin-top: -100px;
                }

                .policy {
                    position: unset !important;
                    top: unset !important;
                    right: unset !important;
                }

                div {
                    &:nth-child(2) {
                        position: absolute;
                        top: 100%;
                        right: 0;
                    }
                }
            }
            &--budget {
                &.pad {
                    padding-bottom: 120px;
                }
            }

            &--start {
                display: none;
            }

            &--url {
                order: 5;
                padding-right: 15px;
            }

            &__list {
                &--item {
                    width: 100%;
                    padding-right: 0;

                    div {
                        padding-right: 15px;
                    }
                    &:first-child,
                    &:nth-child(2) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 50%;
                    }
                }
            }

            &--label {
                font-size: 18px;
            }

            &--attach {
                flex-wrap: wrap;
                .attach {
                    padding: 0;
                }
            }

            &--service {
                margin-top: -80px;
                padding-top: 0;
                padding-right: 15px;

                &--apply {
                    margin-top: -90px;
                }

                .pick-service {
                    padding-right: 0 !important;
                    flex-wrap: wrap;

                    &_item {
                        width: 50% !important;
                        padding-right: 0;
                        padding-bottom: 20px;
                        flex: none;

                        div {
                            font-size: 16px;
                            line-height: 30px;
                            padding-right: 0;
                        }

                        // &:nth-child(3n),
                        // &:nth-child(3n + 2) {
                        //     justify-content: flex-start;
                        // }
                        &:nth-child(4) {
                            // justify-content: flex-start;
                            padding-top: 0;
                            order: 2;
                        }
                        &:nth-child(2) {
                            &::after {
                                display: none;
                            }
                        }
                        // &:nth-child(n + 4) {
                        //     padding-top: 0;
                        // }
                        &:last-child {
                            order: 6;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .contact-about {
        &_content {
            padding: 0 85px;
            padding-bottom: 50px;

            input {
                font-size: 16px;
                line-height: 16px;
                height: 25px;
            }
            &--attach {
                font-size: 12px;

                .attach {
                    span {
                        &:nth-child(2) {
                            font-size: 12px;
                            color: #01bdd5;
                        }
                    }
                }

                div {
                    &:nth-child(2) {
                        padding-right: 30px !important;
                    }
                    padding-right: 0 !important;
                }
            }
            &--button {
                min-width: 100px;
                height: 35px;
            }
            &__list {
                &--item {
                    div {
                        padding-right: 30px;
                    }
                }
            }
            &--button {
                margin-top: 0;
                width: 30%;
            }
            &--label {
                font-size: 12px;
                line-height: 20px;
            }

            &--budget {
                div {
                    padding-right: 0;
                }
                &.pad {
                    padding-bottom: 150px;
                }
                .icon-next {
                    font-size: 14px;
                    top: 0;
                }
                .select-custom {
                    height: 25px;
                    padding: 5px 0;
                    &_selected {
                        font-size: 12px;
                        &--down {
                            font-size: 12px;
                            top: -2px;
                        }
                    }
                    &_option {
                        h3 {
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }
            }
            &--service {
                margin-top: -90px;

                &--apply {
                    margin-top: -140px;
                }

                .pick-service {
                    padding-right: 0 !important;

                    div {
                        font-size: 12px;
                        line-height: 20px;

                        padding-right: 0 !important;
                    }

                    &_item {
                        padding-bottom: 20px;
                    }
                }
            }
            &--message {
                textarea {
                    height: 130px;
                }
            }
            &--message {
                &.pad {
                    margin-top: -70px;
                }
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .contact-about {
        &_content {
            padding: 0 50px;
            padding-bottom: 50px;
        }
    }
}
@media screen and (max-width: 575px) {
    .contact-about {
        &_content {
            &__list {
                &--item {
                    div {
                        padding-right: 0 !important;
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 100%;
                    }
                    &:nth-child(2) {
                        order: 2;
                    }
                    &:nth-child(4) {
                        order: 4;
                    }
                }
            }

            &--button {
                min-width: 154px;
            }

            &--label {
                font-size: 16px;
            }

            &--name,
            &--phone,
            &--email,
            &--company,
            &--url {
                padding-right: 0;
                width: 100%;
            }

            &--budget,
            &--message,
            &--start {
                width: 100%;
            }
            &--budget {
                &.pad {
                    padding-bottom: 0;
                }
            }
            &--message,
            &--attach {
                &.pad {
                    margin-top: 0;
                }
            }
            &--start {
                display: block;
            }

            &--service {
                margin-top: 0;
                width: 100%;
                padding-top: 18px;

                .pick-service {
                    &_item {
                        display: flex;
                        justify-content: center !important;
                        text-align: center !important;

                        &:nth-child(3n + 2),
                        &:nth-child(n + 4),
                        &:nth-child(3n) {
                            justify-content: center !important;

                            div {
                                text-align: center;
                            }
                        }

                        &:nth-child(2) {
                            &::before {
                                left: 0;
                            }
                        }
                    }
                }
            }

            &--attach {
                width: 100%;
                margin-top: 0;
                font-size: 13px;

                align-items: flex-start;
                justify-content: space-between;

                div {
                    &:nth-child(2) {
                        padding-right: 0 !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .contact-about {
        &_content {
            input {
                font-size: 14px;
            }
        }
    }
}

