.internship {
    display: none;
    position: relative;
    &__title {
        position: relative;
        margin-bottom: 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        &--sub {
            font-size: 260px;
            font-weight: 700;
            line-height: 260px;
            
            animation: pulse 1s ease-in-out infinite;

            span {
                color: #01bdd5;
                opacity: 0.12;
            }
        }

        &--main {
            font-size: 65px;
            color: #707070;
            position: absolute;
            top: 120px;

            span {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    background-color: #01bdd5;
                    height: 10px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }
    }

    &-circle {
        position: absolute;
        bottom: 0;
        right: 0;

        img {
            object-fit: fill;
        }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
@media screen and (max-width: 1600px) {
    .internship {
        &__title {
            &--sub {
                font-size: 240px;
            }
            &--main {
                font-size: 60px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .internship {
        &__title {
            &--sub {
                font-size: 200px;
            }
            &--main {
                font-size: 40px;

                span {
                    &::after {
                        bottom: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .internship {
        &__title {
            margin-bottom: 0;
            &--sub {
                font-size: 150px;
                line-height: 200px;
            }
            &--main {
                font-size: 35px;
                top: 58%;

                span {
                    &::after {
                        bottom: 8px;
                        height: 8px;
                    }
                }
            }
        }
        &-circle {
            img {
                width: 200px !important;
                height: 200px !important;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .internship {
        &__title {
            &--sub {
                font-size: 100px;
                line-height: 140px;
            }
            &--main {
                top: 53%;
                font-size: 30px;
            }
        }
        &-circle {
            img {
                width: 220px !important;
                height: 220px !important;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .internship {
        &__title {
            &--sub {
                font-size: 70px;
                line-height: 90px;
            }
            &--main {
                font-size: 20px;
                top: 62%;

                span {
                    &::after {
                        bottom: 5px;
                        height: 5px;
                    }
                }
            }
        }
        &-circle {
            img {
                width: 140px !important;
                height: 160px !important;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .internship {
        &__title {
            &--sub {
                font-size: 50px;
                line-height: 90px;
            }
            &--main {
                font-size: 16px;

                span {
                    &::after {
                        bottom: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

