.available-job {
    //padding-bottom: 125px;

    &__title {
        position: relative;
        text-align: center;

        p {
            font-size: 45px;
            line-height: 60px;
            color: #707070;
            font-weight: 600;
        }

        span {
            position: relative;
            padding-left: 10px;

            &::after {
                content: "";
                position: absolute;
                bottom: 9px;
                left: 0;
                right: 0;
                height: 9px;
                background-color: #01bdd5;
                z-index: -1;
            }
        }
    }

    &__content {
        position: relative;
        text-align: justify;
        padding: 30px 300px 30px 300px;

        p {
            font-size: 20px;
            line-height: 30px;
            color: #707070;
            text-align: justify;
        }

        & div {
            position: relative;
        }

        &--top,
        &--bot {
            position: absolute;
            z-index: -1;
            color: #464646;
            font-size: 200px;
            line-height: 0;
        }

        &--top {
            top: 0;
            right: 100%;

            &::before {
                content: "“";
                font-size: 200px;
                position: absolute;
                top: -12px;
                left: -2px;
                color: #008fbe;
            }
        }

        &--bot {
            bottom: 0;
            left: 100%;

            &::before {
                content: "“";
                font-size: 200px;
                position: absolute;
                bottom: -12px;
                left: -2px;
                color: #008fbe;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .available-job {
        &__title {
            p {
                font-size: 50px;
            }
            span {
                &::after {
                    bottom: 10px;
                    left: 10%;
                    height: 10px;
                }
            }
        }
        &__content {
            padding: 50px 150px 100px 150px;

            &--top,
            &--bot {
                font-size: 150px;
            }
            &--top,
            &--bot {
                &::before {
                    font-size: 150px;
                }
            }

            p {
                font-size: 25px;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .available-job {
        &__title {
            p {
                font-size: 45px;
            }
        }
        &__content {
            padding: 30px 120px 70px 120px;

            &--top,
            &--bot {
                font-size: 150px;
            }
            &--top,
            &--bot {
                &::before {
                    font-size: 150px;
                }
            }

            p {
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .available-job {
        &__title {
            p {
                font-size: 35px;
            }
            span {
                &::after {
                    bottom: 8px;
                    left: 17%;
                    height: 8px;
                }
            }
        }
        &__content {
            &--top,
            &--bot {
                font-size: 100px;
            }
            &--top,
            &--bot {
                &::before {
                    font-size: 100px;
                }
            }

            p {
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .available-job {
        &__title {
            p {
                font-size: 30px;
            }
            span {
                &::after {
                    height: 6px;
                }
            }
        }
        &__content {
            padding: 10px 60px 40px 60px;
            &--top,
            &--bot {
                &::before {
                    top: -6px;
                    font-size: 100px;
                }
            }

            p {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .available-job {
        &__title {
            span {
                padding-left: 10px;
                &::after {
                    bottom: 6px;
                    left: 22%;
                }
            }
        }
        &__content {
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}
@media screen and (max-width: 420px) {
    .available-job {
        &__title {
            p {
                font-size: 22px;
            }
            span {
                &::after {
                    bottom: 4px;
                    left: 12%;
                }
            }
        }
        &__content {
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
