.careers__main-banner {
    height: auto;
}
.section-career {
    padding-top: 20px;
  }
.main-banner {
    position: relative;

    &__background {
        position: relative;

        svg {
            width: 100%;
            height: 100%;
            margin-top: -19px;
        }

        &--path {
            stroke: #0898c2;
            stroke-width: 5;
            stroke-dasharray: 20219;
            stroke-dashoffset: 20219;
            animation: dash 4s linear alternate infinite;
        }

        @keyframes dash {
            to {
                stroke-dashoffset: 0;
            }
        }
    }

    &__title {
        position: absolute;
        top: 24%;
        left: 11%;

        h1 {
            font-size: 24px;
            line-height: 30px;
            padding-bottom: 14px;
            color: #707070;
        }

        h2 {
            font-size: 50px;
            line-height: 80px;
            width: 545px;
            background: linear-gradient(to bottom left, #01bdd5, #008fbe);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    &__careers-circle {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
        img {
            width: auto;
            object-fit: contain;
        }
    }
}
@media screen and (max-width: 1400px) {
    .main-banner {
        &__careers {
            &-circle {
                img {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .main-banner {
        &__title {
            top: 15%;
            max-width: 330px;
            h1 {
                padding-bottom: 0;
                margin-bottom: 0;
            }
            h2 {
                font-size: 50px;
                line-height: 65px;
                max-width: 330px;
            }
        }
        &__careers {
            &-circle {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 80% !important;
                    height: 480px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .main-banner {
        &__background {
            svg {
                margin-top: 0;
            }
        }
        &__careers {
            &-circle {
                img {
                    width: 80% !important;
                    height: 300px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .main-banner {
        &__title {
            top: 15%;
            max-width: 230px;
            h1 {
                font-size: 18px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            h2 {
                font-size: 40px;
                line-height: 55px;
                max-width: 230px;
            }
        }
        &__careers {
            &-circle {
                img {
                    width: 80% !important;
                    height: 240px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .main-banner {
        &__background {
            display: flex;

            svg {
                margin-top: 75px;
            }
        }
        &__title {
            top: 0;
            left: 0;
            text-align: center;
            max-width: 100%;
            h1 {
                font-size: 18px;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            h2 {
                font-size: 30px;
                line-height: 45px;
                max-width: 100%;
            }
        }
        &__careers {
            &-circle {
                img {
                    width: 80% !important;
                    height: 160px !important;
                }
            }
        }
    }
}
