* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: bold !important;
}

p {
    margin-bottom: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.border-right {
    border-right: none !important;
}

@font-face {
    font-family: 'gillsans';
    font-display: auto;
    src: url('assets/fonts/GILLSANS.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'gillsans-bold';
    font-display: auto;
    src: url('assets/fonts/GILLSANS-BOLD.TTF');
    font-weight: bold;
}

* {
    font-family: 'gillsans';
}

.cdk-global-scrollblock {
    position: static !important;
    top: auto;
    left: auto;
    ;
}