/** GRID */
$content-breakpoints: (
	sm: 576px,
	md: 1024px,
	lg: 1200px,
);
$container-breakpoints: (576px, 540px), (1024px, 992px) , (1200px, 1140px), (1366px, 1280px), (1600px, 1440px);
$grid-column: 12;
$display-types: (none, block, inline, inline-block, flex, table, grid);

/** FLEX Align */
$justify-content: (flex-start, center, flex-end, space-between, space-around, start, end, left, right);
$align-items: (flex-start, center, flex-end);
/** Text */
$text-align-list: (left, center, right);
$text-transform-list: (none, capitalize, uppercase, lowercase);
$text-color-list: (
	color-white: #FFFFFF,
	-color-sky-blue: #C0F8FF,
	color-black: #545454,
	color-gray: #6D6D6D,
	color-lighter-dark: #131313,
);

/** Text */

/** Font */
$font-size-list: (65, 50, 40, 35, 28, 25, 22, 20, 16, 14);
$font-weight-list: (100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, light, lighter, normal);
$font-style-list: (italic, normal, oblique);

/** Padding - Margin  */
$distance: (auto: auto, 0: 0, 1: 0.25rem, 2: 0.5rem, 3: 0.75rem, 4: 1rem, 5: 1.25rem, 6: 1.5rem, 7: 1.75rem, 8: 2rem);
$align: (t: top, r: right, b: bottom, l: left);


/** ------------------------------------------------------------------------------------------------ */
$text-white: #FCFCFC;
/** Header */
$main-color: #00FEFE;
$black: #545454;
$background: #E5F8FF;
$link-active-color: #01BDD5;
$breadcrumb-background: #0ECDCF;
$breadcrumb-color: #C0F8FF;

/** Footer */
$footer-background:#006E7D;
$footer-color-white: #FCFCFC;
$footer-color-placeholder: #00EEEE;
$footer-color-light-text: #00FEFE;
$footer-budget-background: #00C8C8;
$footer-budget-thumb: #15FFFF;

/** Cover */
$cover-text-color: #016E7D;

/** Section */
$header-color: #545454 ;
$header-size: 28px;
$description-color: #6D6D6D;
$description-size: 16px;
$border-color: #f4f4f4;
/** Our Client */
$pagination-color: #01BDD5;
$client-name-color: #01BDD5;
$client-background: #E5F8FF;
$client-description-color: #545454;

/** Product  */
$category-color-default: #4E4E4E;
$category-color-active: #0DCECE;

/** Service */
$service-name-color: #01BDD5;
$service-text-color: #838383;