<section class="section section-services">
    <div class="container">
        <div class="row list-services">
            <div *ngFor="let service of services" class="col-md-6 col-lg-4 text-center service">
                <div class="service-image">
                    <img src="{{ service.image_2 }}" alt="{{ service.name }}" />
                </div>
                <h2 class="service-name">{{ service.name }}</h2>
                <p class="service-description">{{ service.description }}</p>
            </div>
        </div>
    </div>
</section>