<section class="section section-bg section-our-services" data-title="Our Services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase section-header">{{ our_services.header }}</h1>
            </div>
            <div class="col-12">
                <p class="section-description">{{ our_services.description }}</p>
            </div>
            <div class="col-12 d-flex our-services">
                <div *ngFor="let service of our_services.services" class="col-md-4">
                    <div class="our-service rotate" ourservice>
                        <div class="front">
                            <div>
                                <div class="our-service-icon">
                                    <img src="{{ service.image }}" alt="{{ service.name }}" />
                                </div>
                                <div class="our-service-name">
                                    <h2>{{ service.name }}</h2>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/service" class="back">
                            <p class="our-service-description">
                                {{ service.description }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>