<section class="section section-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6 contact-form">
				<h2 class="text-uppercase">Contact</h2>
				<form [formGroup]="formdata" (submit)="onSubmit(formdata.value)">
					<div class="row form-group">
						<div class="col-6">
							<label class="form-label">Your Name * </label>
							<input type="text" class="form-control" formControlName="name" [ngClass]="(formdata.get('name').invalid && formdata.get('name').touched) ? 'invalid' : ''"/>
						</div>
						<div class="col-6">
							<label class="form-label">Your Phone * </label>
							<input type="text" class="form-control" formControlName="phone" [ngClass]="(formdata.get('phone').invalid && formdata.get('phone').touched) ? 'invalid' : ''"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-12">
							<label class="form-label">Your Company Name * </label>
							<input type="text" class="form-control" formControlName="company" [ngClass]="(formdata.get('company').invalid && formdata.get('company').touched) ? 'invalid' : ''"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-12">
							<label class="form-label">Your Email Address * </label>
							<input type="text" class="form-control" formControlName="email" [ngClass]="(formdata.get('email').invalid && formdata.get('email').touched) ? 'invalid' : ''"/>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-12">
							<label class="form-label">Your Message * </label>
							<textarea class="form-control" formControlName="message" [ngClass]="(formdata.get('message').invalid && formdata.get('message').touched) ? 'invalid' : ''"></textarea>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-12">
							<button type="submit" class="btn btn-send" [ngClass]="isSending ? 'sending' : ''">Send Message</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<h3 class="text-uppercase">Amit Group Join Stock Company</h3>
				<h3>MST: {{ demo.COMPANY_MST }}</h3>
				<a href="tel:{{ demo.COMPANY_PHONE }}">
					<i class="fa fa-phone"></i>
					{{ demo.COMPANY_PHONE }}
				</a>
				<a href="mailto:{{ demo.COMPANY_EMAIL }}">
					<i class="fa fa-envelope"></i>
					{{ demo.COMPANY_EMAIL }}
				</a>
				<a href="https://goo.gl/maps/N7834BgsMxisZ7q88" target="_blank">
					<i class="fa fa-map-marker"></i>
					{{ demo.COMPANY_ADDRESS }}
				</a>
				<a href="https://goo.gl/maps/PwG1SuLqM4seFxd6A" target="_blank">
					<i class="fa fa-map-marker"></i>
					{{ demo.COMPANY_ADDRESS_2 }}
				</a>
			</div>
		</div>
	</div>
</section>