@media (max-width: 1024px) and (max-height: 768px) {
    .section-cover {
        .cover-logan h2 {
            font-size: 22px;
        }
        .cover-description h3 {
            font-size: 16px;
        }
    }
    .cover-logo {
        bottom: 0px;
        img {
            width: calc(100% / 7);
        }
    }
}

@media (max-width: 576px) {
    .section-cover {
        .cover-logan h1 {
            font-size: 16px;
        }
        .cover-logan h2 {
            font-size: 15px;
        }
        .cover-description h3 {
            font-size: 14px;
        }
        .cover-logo {
            bottom: 0px;
            img {
                width: 50%;
                margin: 0 !important;
                padding: 10px;
            }
        }
    }
}