@media (max-width: 576px) {
    .section-platforms {
        .list-platforms {
            justify-content: center;
            .col-platform {
                flex: 0 0 100%;
                width: 100%;
                margin-bottom: 15px;
                .platform {
                    .platform-icon {
                        height: auto;
                        object-fit: cover;
                        width: 50%;
                    }
                }
            }
        }
    }
}