<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left topbar-welcome">
                <span>Welcome to Amit Group!</span>
                <span class="border-middle"></span>
                <span>Connect with Us</span>
                <a target="_blank" href="https://www.facebook.com/AMIT-GROUP-213216859370467/">
                    <img src="../../../assets/images/Icon/face.png" alt="Facebook" />
                </a>
                <!-- <a target="_blank" href="https://www.instagram.com/">
					<img src="../../../assets/images/Icon/in.png" alt="Instagram" />
				</a> -->
            </div>
            <div class="col-sm-6 text-right topbar-language">
                <ul>
                    <li>
                        <a routerLink="/" class="active">
                            <img src="../../../assets/images/Language/english.jpg" alt="English" />
                            <span>English</span>
                        </a>
                    </li>
                    <!-- <span class="border-middle"></span>
					<li>
						<a routerLink="/">
							<img src="../../../assets/images/Language/vietnam.jpg" alt="Vietnam" />
							<span>Vietnam</span>
						</a>
					</li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="nav navbar" [ngClass]="navbarHide ? 'fixed-top' : ''" #navbar>
    <div class="container">
        <a routerLink="/" class="navbar-branch">
            <img src="{{ logo.url }}" alt="{{ logo.alt }}" />
        </a>
        <button class="navbar-collapse-toggle" type="button" (click)="toggleMenu($event)" data-expand="false">
			<i class="fa fa-bars"></i>
		</button>
        <div class="navbar-collapse ml-md-auto" id="main-menu" [@menu]="menuState" #main_menu>
            <ul class="navbar-nav ">
                <li *ngFor="let item of menu" class="nav-item">
                    <a routerLink="{{ item.url }}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <h2>{{ item.name }}</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="isHome; then breadCrumbs"></div>
<ng-template #breadCrumbs>
    <div class="breadcrumbs" #breadcrumb_bar>
        <div class="container">
            <ul>
                <li *ngFor="let breadcrumb of breadcrumbs; let i = index" class="text-uppercase " [ngClass]="i < breadcrumbs.length - 1 ? 'border-right' : ''">
                    <a routerLink="{{ breadcrumb.url }}" class="breadcrumb-link">{{ breadcrumb.label }}</a>
                </li>
            </ul>
            <h1 class="text-uppercase breadcrumb-title">{{ title }}</h1>
        </div>
    </div>
</ng-template>