@mixin make-align-items () {
	@each $align in $align-items {
		.align-items-#{$align} {
			-webkit-box-align: #{$align};
			-webkit-align-items: #{$align};
			    -ms-flex-align: #{$align};
			        align-items: #{$align};
		}
	}
}
@mixin make-justify-content () {
	@each $align in $justify-content {
		.justify-content-#{$align} {
			-webkit-box-pack: #{$align};
			-webkit-justify-content: #{$align};
			    -ms-flex-pack: #{$align};
			        justify-content: #{$align};
		}
	}
}
@include make-align-items();
@include make-justify-content();