@mixin make-display() {
	@each $type in $display-types {
		.d-#{$type} {
			display: $type;
		}
	}
	@each $type in $display-types {
		@each $name, $limit in $content-breakpoints {
			.d-#{$name}-#{$type} {
				@extend .d-none;
				@include make-breakpoint($limit) {
					display: $type;
				}
			}
		}
	}
}

@include make-display();