@mixin make-font-weight() {
	@each $type in $font-weight-list {
		.font-weight-#{$type} {
			font-weight: #{$type} !important;
		}
	}
}
@mixin make-font-size() {
	@each $size in $font-size-list {
		.font-size-#{$size} {
			font-size: #{$size}px;
		}
	}
}
@mixin make-font-style() {
	@each $style in $font-style-list {
		.font-style-#{$size} {
			font-style: #{$size};
		}
	}
}
@include make-font-weight();
@include make-font-size();