@mixin make-row() {
	.row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		        flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
}
@mixin make-default-col() {
	%col {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@mixin make-col() {
	@include make-default-col();
	.col {
		@extend %col;
		@media (min-width: 576px) {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 auto;
			    -ms-flex: 0 0 auto;
			        flex: 0 0 auto;
			width: auto;
			max-width: none;
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			    -ms-flex-positive: 1;
			        flex-grow: 1;
		}
	}
	.col-auto {
		@extend %col;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: auto;
		max-width: none;
	}
	@for $n from 1 through $grid-column {
		.col-#{$n} {
			@extend %col;
			$w: percentage(($n / 12));
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 #{$w};
			    -ms-flex: 0 0 #{$w};
			        flex: 0 0 #{$w};
			max-width: $w;
		}
	}
	@each $name, $limit in $content-breakpoints {
		@for $n from 1 through $grid-column {
			.col-#{$name}-#{$n} {
				@extend %col;
			}
		}
		.col-#{$name} {
			@extend %col;
		}
		.col-#{$name}-auto {
			@extend %col;
		}
	}

	@each $name, $limit in $content-breakpoints {
		@include make-breakpoint($limit) {
			@for $n from 1 through $grid-column {
				.col-#{$name}-#{$n} {
					$w: percentage(($n / 12));
					-webkit-box-flex: 0;
					-webkit-flex: 0 0 #{$w};
					    -ms-flex: 0 0 #{$w};
					        flex: 0 0 #{$w};
					max-width: $w;
				}
			}
			.col-#{$name} {
				-webkit-box-flex: 1;
				-webkit-flex-grow: 1;
				    -ms-flex-positive: 1;
				        flex-grow: 1;
				max-width: 100%;
				-webkit-flex-basis: 0;
				    -ms-flex-preferred-size: 0;
				        flex-basis: 0;
			}
			
			.col-#{$name}-auto {
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 auto;
				    -ms-flex: 0 0 auto;
				        flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
		}
	}
}

.container {
	width: 100%;
	@each $limit, $size in $container-breakpoints {
		@include make-breakpoint($limit) {
			max-width: $size;
		}
	}
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@include make-row();
@include make-col();
