@mixin make-margin() {
	@each $n, $rem in $distance {
		@each $key, $value in $align {
			.m#{$key}-#{$n} {
				margin-#{$value}: $rem;
			}
		}
		@include make-margin-xy(false, $n, $rem);
	}
	@each $name, $limit in $content-breakpoints {
		@include make-breakpoint($limit) {
			@each $n, $rem in $distance {
				@each $key, $value in $align {
					.m#{$key}-#{$name}-#{$n} {
						margin-#{$value}: $rem;
					}
				}
				@include make-margin-xy($name, $n, $rem);
			}
		}
	}
}
@mixin make-margin-xy ($name: false, $n, $rem) {
	@if $name {
		.mx-#{$name}-#{$n} {
			margin-left: $rem;
			margin-right: $rem;
		}
		.my-#{$name}-#{$n} {
			margin-top: $rem;
			margin-bottom: $rem;
		}
	} @else {
		.mx-#{$n} {
			margin-left: $rem;
			margin-right: $rem;
		}
		.my-#{$n} {
			margin-top: $rem;
			margin-bottom: $rem;
		}
	}
}

@include make-margin();