@mixin make-padding() {
	@each $n, $rem in $distance {
		@each $key, $value in $align {
			.p#{$key}-#{$n} {
				padding-#{$value}: $rem;
			}
		}
		@include make-padding-xy(false, $n, $rem);
	}
	@each $name, $limit in $content-breakpoints {
		@include make-breakpoint($limit) {
			@each $n, $rem in $distance {
				@each $key, $value in $align {
					.p#{$key}-#{$name}-#{$n} {
						padding-#{$value}: $rem;
					}
				}
				@include make-padding-xy($name, $n, $rem);
			}
		}
	}
}
@mixin make-padding-xy ($name: false, $n, $rem) {
	@if $name {
		.px-#{$name}-#{$n} {
			padding-left: $rem;
			padding-right: $rem;
		}
		.py-#{$name}-#{$n} {
			padding-top: $rem;
			padding-bottom: $rem;
		}
	} @else {
		.px-#{$n} {
			padding-left: $rem;
			padding-right: $rem;
		}
		.py-#{$n} {
			padding-top: $rem;
			padding-bottom: $rem;
		}
	}
}

@include make-padding();