@mixin make-text-align() {
	@each $align in $text-align-list {
		.text-#{$align} {
			text-align: #{$align} !important;
		}
		@each $name, $limit in $content-breakpoints {
			@include make-breakpoint($limit) {
				.text-#{$name}-#{$align} {
					text-align: #{$align} !important;
				}
			}
		}
	}
}
@mixin make-text-color() {
	@each $name,$color in $text-color-list {
		.text-#{$name} {
			color: $color !important;
		}
	}
}
@mixin make-text-transform() {
	@each $transform in $text-transform-list {
		.text-#{$transform} {
			text-transform: $transform !important;
		}
	}
}

@include make-text-align();
@include make-text-color();
@include make-text-transform();

