.section-cover {
    height: calc(100vh);
    padding: 64px 0 0 0;
    .cover-logo {
        top: auto;
        bottom: -70px;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        img {
            display: inline-block;
            margin-top: 0;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    .container {
        .row {
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }
    .content-top {
        .cover-title {
            img {
                transform: translate(-50%, 0);
            }
        }
    }
}