.section-experiences {
    .list-experiences {
        .experience {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
            display: flex;
            .experience-image {
                height: auto;
                width: 50%;
            }
        }
    }
}