footer {
	.fcontact {
		.fcontact-form-left {
			margin-bottom: 50px;
		}
	}
	.finfo {
		margin-top: 50px;
		.finfo-address, .finfo-description, .finfo-link {
			text-align: left;
			padding: 0 15px;
			p {
				margin: 0;
				max-width: 100%;
				width: auto;
				text-align: left;
				margin-bottom: 10px;
			}
			a {
				text-align: left;
				margin-bottom: 10px;
			}
		}
		.finfo-description {
			margin: 0;
			border: 0;
		}
	}
}