.nav.navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	.container {
		max-width: 100%;
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
	}
	.navbar-collapse-toggle {
		display: inline-block;
	}
	.navbar-collapse {
		width: 100%;
		height: 0;
		overflow: hidden;
		ul {
			display: block;
			li {
				display: block;
				width: 100%;
				margin: 0;
				a {
					padding-left: 0;

				}
			}
		}
	}
	
}