.section-platforms {
	.list-platforms {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		.col-platform {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 50%;
			    -ms-flex: 0 0 50%;
			        flex: 0 0 50%;
			width: 50%;
			margin-bottom: 15px;
			max-width: unset;
		}
	}
}