.section-products {
	.categories {
		ul {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-flow: row nowrap;
			    -ms-flex-flow: row nowrap;
			        flex-flow: row nowrap;
			overflow-x: scroll;
			.category {
				min-width: 90px;
			}	
		}
		
	}
}