<section class="section section-partner" data-title="Partners">
    <div class="container">
        <div class="swiper-shadow">
            <div class="swiper-container swiper-partner">
                <div class="swiper-wrapper">
                    <div *ngFor="let partner of partners" class="swiper-slide">
                        <img src="{{ partner.image }}" alt="{{ partner.name }}" />
                    </div>
                </div>
                <div class="swiper-button-next">
                    <img src="../../../../assets/images/Icon/angle-right.png" alt="Next" />
                </div>
                <div class="swiper-button-prev">
                    <img src="../../../../assets/images/Icon/angle-left.png" alt="Prev" />
                </div>
            </div>
        </div>
    </div>
</section>