<section class="section section-company">
    <div class="container">
        <div class="row company-introduce">
            <div class="col-12">
                <p style="margin-bottom: 10px;">
                    <b>Amit group</b> is a group of companies and technology teams that associate and support each other to grow together, we have the up-to-date technology solutions for customers with reasonable cost.
                </p>
                <p>
                    Information Technology Revolution 4.0 has strongly fostered competition in business. As a result, Start-ups and Businesses are constantly innovating and applying technologies to drive more efficiently, more productive.
                    <br> AMIT GROUP with many team members towards the new technology products in Vietnam, offers the best technology solutions for business.
                </p>
            </div>
        </div>
        <div class="row our-leadership">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/aThao.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Le Quoc Thao</h2>
                    </div>
                    <div class="member-position">
                        <h3>Founder</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            12 years of experience in building community and has strong ability in understanding and evaluating markets
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/Na.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Tran Nhat Anh</h2>
                    </div>
                    <div class="member-position">
                        <h3>QA</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            9 years working in the aerospace industry, in charge of optimizing operation and auditting resources to ensure flight safety auditing internal and external resources to ensure quality and safety requirements
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/aTu.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Nguyen Ngoc Tu</h2>
                    </div>
                    <div class="member-position">
                        <h3>Product leader</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            Spends 13 years in technology field with variety and strong experiences in both programing and project management.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/aTien.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Pham Van Tien</h2>
                    </div>
                    <div class="member-position">
                        <h3>Solution Leader</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            15 years working in the software field, 6 years of intensive focus on logistics solutions (warehouse management, transport)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/aBach.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Nguyen Duy Xuan Bach</h2>
                    </div>
                    <div class="member-position">
                        <h3>IoT Leader</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            Bachelor of IT - HCMUT Master of IT Lecturer of IT Faculty - HCM University of IT 10-year experience in embedded development, implement many projects in/outside University.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/HD.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Nguyen Hai Đang</h2>
                    </div>
                    <div class="member-position">
                        <h3>AI Leader</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            3 years in the software field: First year as software engineer, 2 years later specialized in AI. In terms of experience, he has a strong background in electronics, embedded programming, IoTs. Now base in Taiwan with Master Degree.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/HB.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Nguyen Le Huy Bang</h2>
                    </div>
                    <div class="member-position">
                        <h3>Business development in the US</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            3 years experience being in charge of development and management in a Japanese electronics factory; 6 years on research and development power converters. Currently doing his PhD on machine learning algorithm for energy systems optimization and security.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="leadership-member">
                    <div class="member-avatar">
                        <img class="square-image" src="../../../assets/images/about-us/aHa.png" alt="Avatar" />
                    </div>
                    <div class="member-name">
                        <h2>Tran Hoang Anh</h2>
                    </div>
                    <div class="member-position">
                        <h3>Mobile leader</h3>
                    </div>
                    <div class="member-introduce">
                        <p>
                            Has 5 years of mobile experience (iOS, Android), leads the HN team, now he is handling the main role of big project with global client.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>