<div fullpage>
    <home-cover class="fullpage-section"></home-cover>
    <home-our-services class="fullpage-section"></home-our-services>
    <!-- <home-our-clients class="fullpage-section"></home-our-clients> -->
    <home-modern-platforms class="fullpage-section"></home-modern-platforms>
    <home-diverse-experience class="fullpage-section"></home-diverse-experience>
    <home-partner class="fullpage-section"></home-partner>

    <div class="fullpage-navbar">
        <div class="fullpage-navigators">
        </div>
    </div>
</div>