<div class="maintenance">
		<div class="inner">
		<div class="content">
			<div class="maintenance__header text-uppercase text-center">
				<h5>Maintenance</h5>
			</div>
			<div class="maintenance__image">
				<div class="image__area">
					<img class="top" src="../../assets/images/maintenance/1.svg" alt="..."/>
					<img class="left" src="../../assets/images/maintenance/2.svg" alt="..."/>
					<img class="right" src="../../assets/images/maintenance/3.svg" alt="..."/>
				</div>
			</div>
			<div class="maintenance__description">
				<h5>Ooops!</h5>
				<p>We are bringing some new things to the site. Sorry for this inconvenience! <br>See you later!</p>
			</div>
		</div>
		<a href="javascript: void(0)" (click)="backPrevious()" class="maintenance__close">
			<i class="fa fa-times"></i>
			<span>close</span>
		</a>
	</div>
</div>