
<h1 mat-dialog-title class="dialog-title">{{ title }}</h1>
<div mat-dialog-message class="font-weight-bold dialog-message">{{ message }}</div>
<mat-dialog-actions class="text-right" style="justify-content: flex-end;">
	<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
