<section class="section section-bg section-platforms " data-title="Modern Platforms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase section-header">{{ modern_platforms.header }}</h1>
            </div>
            <div class="col-12">
                <p class="section-description">{{ modern_platforms.description }}</p>
            </div>
            <div class="col-12 d-flex list-platforms">
                <div *ngFor="let platform of modern_platforms.platforms" class="col-platform">
                    <div class="platform">
                        <img class="platform-icon" src="{{ platform.icon }}" alt="{{ platform.name }}" />
                        <h2 class="platform-name">{{ platform.name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>