<section class="section section-experiences " data-title="Diverse Experience">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase section-header">{{ diverse_experiences.header }}</h1>
            </div>
            <div class="col-12">
                <p class="section-description">{{ diverse_experiences.description }}</p>
            </div>
            <div class="list-experiences d-flex">
                <div *ngFor="let exp of diverse_experiences.experiences" class="col-6 col-md-6 col-lg-3 text-center">
                    <div class="experience">
                        <img class="experience-image" src="{{ exp.image }}" alt="{{ exp.name }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>