.section-blog {
  padding-top: 20px;
}
.blog-banner {
    height: auto;
    justify-content: center;
    padding: 0 162px;
  
    &_content {
      padding: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      p,
      h2 {
        color: #01bdd5;
        text-transform: uppercase;
      }
  
      p {
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
      }
  
      h2 {
        font-weight: 500;
        font-size: 68px;
        line-height: 85px;
      }
  
      span {
        color: #000000;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }
    &_image {
      display: flex;
      justify-content: center;
  
      img {
          width: 100%;
          height: auto;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }
  
  @media only screen and (max-width: 1600px) {
      .blog-banner {
          &_content {     
            p {
              font-size: 16px;
              line-height: 20px;
            }
        
            h2 {
              font-size: 48px;
              line-height: 60px;
            }
        
            span {
              font-size: 16px;
              line-height: 20px;
            }
          }
          &_image {
            img {
              width: 500px !important;
              height: auto !important;
            }
          }
        }
  }

  @media only screen and (max-width: 1400px) {
    .blog-banner {
      padding: 0 100px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .blog-banner {
      padding: 0 25px;
    }
  }
  
  @media only screen and (max-width: 992px) {
      .blog-banner {
          &_image {
            img {
              width: 400px !important;
            }
          }
        }
  }
  
  @media only screen and (max-width: 768px) {
      .blog-banner {
          &_content {
            p {
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 0;
            }
        
            h2 {
              font-size: 30px;
              line-height: 40px;
              margin-bottom: 0;
            }
        
            span {
              font-size: 16px;
              line-height: 20px;
            }
          }
          &_image {
              padding-top: 20px;
            img {
              width: 500px !important;
            }
          }
        }
  }
  
  @media only screen and (max-width: 575px) {
      .blog-banner {
          &_content { 
            p {
              font-size: 14px;
              line-height: 16px;
            }
        
            h2 {
              font-size: 22px;
              line-height: 30px;
            }
        
            span {
              font-size: 14px;
              line-height: 16px;
            }
          }
          &_image {
              padding-top: 10px;
            img {
              width: 350px !important;
            }
          }
        }
  }