.blog-gallery {
    padding: 40px 162px;
    &_title {
      text-align: center;
      padding-bottom: 8px;
      // border-bottom: 1px solid #666666;
  
      h2 {
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        background: linear-gradient(96.05deg, #01bdd5 0%, #008fbe 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    .row {
      justify-content: center;
    }
  
    &_item {
      text-align: center;
      padding: 20px !important;
  
      img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 8px;
      }
    }
  }

  @media only screen and (max-width: 1400px) {
    .blog-gallery {
      padding: 0 100px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .blog-gallery {
      padding: 0 25px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .blog-gallery {
      &_item {
        padding: 10px !important;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .blog-gallery {
      &_title {
        h2 {
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 0;
        }
      }
      &_item {
        padding: 10px !important;
      }
    }
  }
  
  @media only screen and (max-width: 575px) {
      .blog-gallery {
          padding: 20px 20px !important;
        &_title {
          h2 {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 0;
          }
        }
        .col-md-4 {
            width: 100%;
        }
        &_item {
          padding: 10px !important;
        }
      }
    }