@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.blog-content {
    padding: 40px 162px 0 162px;
    max-width: 100%;
    margin: 0 auto;
    
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    &_list {
        display: flex;
      justify-content: center;
      width: 100%;
  
      .nav-item {
        width: calc(100% / 3);
        text-align: center;
  
        .nav-link {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: #666666;
          border-bottom: 2px solid #666666;
          
          
          padding: 8px 24px;
          cursor: pointer;

          &:hover {
            border-color: #fff;
            border-bottom: 2px solid #666666;
            color: #01bdd5;
          }
          
  
          &.active {
            background: linear-gradient(96.05deg, #01bdd5 0%, #008fbe 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
  
            border-color: #fff;
            border-bottom: 2px solid #01bdd5;
  
            &:hover {
              border-color: #fff;
              border-bottom: 2px solid #01bdd5;
            }
          }
        }
      }
    }
  
    &_docs {
      &-item {
        .blogs-list {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
  
          &_item {
            width: 48%;
            padding-top: 40px;
  
            &-time {
              span {
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                background: linear-gradient(96.05deg, #01bdd5 0%, #008fbe 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }
            }
  
            &-title {
              h3 {
                font-weight: 500;
                font-size: 32px;
                line-height: 40px;
                color: #000000;
              }
            }
            &-more {
              padding-top: 10px;
  
              p {
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                color: #0047ff;
                cursor: pointer;
  
                background-image: linear-gradient(
                  transparent calc(100% - 1px),
                  #0047ff
                );
                background-size: 100%;
                background-repeat: no-repeat;
                display: inline;
                transition: 0.5s ease-in-out;
  
                &:hover {
                  background-size: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 1600px) {
    .blog-content {
      &_list {
        .nav-item {
          .nav-link {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
  
      &_docs {
        &-item {
          .blogs-list {
            &_item {
              padding-top: 20px;
              &-time {
                span {
                  font-size: 14px;
                  line-height: 18px;
                }
              }
  
              &-title {
                h3 {
                  font-size: 22px;
                  line-height: 30px;
                }
              }
              &-more {
                padding-top: 5px;
  
                p {
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1400px) {
    .blog-content {
      padding: 0 100px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .blog-content {
      padding: 25px 25px;
    }
  }
  
  @media only screen and (max-width: 992px) {
      .blog-content {
          max-width: 90%;
        &_list {
          .nav-item {
            .nav-link {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
    
        &_docs {
          &-item {
            .blogs-list {
              &_item {
                padding-top: 10px;
                &-time {
                  span {
                    font-size: 12px;
                    line-height: 16px;
                  }
                }
    
                &-title {
                  h3 {
                    font-size: 18px;
                    line-height: 24px;
                  }
                }
                &-more {
                  padding-top: 0px;
    
                  p {
                    font-size: 12px;
                    line-height: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    @media only screen and (max-width: 768px) {
      .blog-content {
          padding-top: 20px;
        &_list {
          .nav-item {
            .nav-link {
              padding: 10px 0;
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  
    @media only screen and (max-width: 575px) {
      .blog-content {
          max-width: 100%;
          padding-top: 10px;
        &_list {
          .nav-item {
              
            .nav-link {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 575px) {
      .blog-content {
        &_list {
          .nav-item {
              
            .nav-link {
              font-size: 10px;
              line-height: 12px;
            }
          }
        }
      }
    }