.breadcrumbs {
    background: $breadcrumb-background;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 94px;
    transition: 0.5s ease;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
        }
        li.border-right::after {
            content: "";
            display: inline-block;
            width: 2px;
            background-color: $breadcrumb-color;
            height: 16px;
            margin-left: 13px;
            margin-right: 13px;
        }
        .breadcrumb-link {
            font-size: 20px;
            color: $breadcrumb-color;
            text-decoration: none;
        }
    }
    .breadcrumb-title {
        color: #FFF;
        font-size: 28px;
    }
}