.btn {
	display: inline-block;
	text-align: center;
	padding: 8px 12px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	background: none;
	border: 1px solid;
	border-color: #e3e3e3;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	&.btn-top-fixed {
		position: fixed;
		bottom: 110px;
		right: 25px;
		padding: 10px;
		display: none;
		opacity: 0;
		/* width: 70px;*/
		/* height: 70px;*/
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		background: #06D1D1;
		border-color: transparent;
		-webkit-transition: 1s ease;
		-o-transition: 1s ease;
		transition: 1s ease;
		img {
			display: block;
			width: 20px;
			-o-object-fit: cover;
			   object-fit: cover;
		}
	}
	&.btn-top-fixed.show {
		display: block;
		opacity: 1;
	}
}
