.section-contact {
	h3 {
		margin-bottom: 15px;
	}
	h2 {
		margin-bottom: 18px;
	}
	a {
		display: block;
		margin-bottom: 15px;
		text-decoration: none;
		color: #4C4C4C;
		i {
			color: #0DCECE;
			margin-right: 12px;
		}
	}
	.form-label {
		color: #454545;
		margin-bottom: 10px;
		display: block;
	}
	.form-group {
		margin-bottom: 15px;
	}
	input.form-control {
		border-color: #D0CDCD;
		height: 36px;
	}
	textarea.form-control {
		height: 150px;
	}
	.form-control:focus {
		outline: 0;
		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.3);
		        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.3);
	}
	.form-control.invalid {
		-webkit-box-shadow: 0 0 3px red, inset 0 0 3px red;
		        box-shadow: 0 0 3px red, inset 0 0 3px red;
	}
	.btn-send {
		background: rgb(13, 206, 206, 1);
		color: #FFF;
		min-width: 110px;
		height: 44px;
		&:focus {
			outline: none;
		}
	}
	.btn-send.sending {
		font-size: 0;
		background-color: rgb(13, 206, 206, 0.5);
		&::after {
			content: "";
			display: inline-block;
			height: 20px;
			width: 20px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			border-width: 3px;
			border-style: solid;
			border-top-color: rgba(255, 255, 255, 0.5);
			-webkit-animation: sending 1s linear infinite;
			        animation: sending 1s linear infinite;
		}
	}
	
}