.cover-indicators {
    @media (max-width: 1200px) {
        display: none;
    }
}

.section-cover {
    position: relative;
    height: calc(100vh) !important;
    padding: 94px 0 0 0;
    background-color: #0DCECE;
    /* background-image: url('assets/images/home/Banner.jpg');*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        height: 100%;
        .row {
            height: 100%;
            position: relative;
        }
    }
    canvas {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .cover-logo {
        position: absolute;
        left: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        img {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .cover-title h1 {
        color: $cover-text-color;
        font-size: 40px;
        margin-bottom: 20px;
        font-family: 'gillsans-bold';
    }
    .cover-logan h2 {
        color: $cover-text-color;
        font-size: 31px;
        margin-bottom: 10px;
    }
    .cover-description h3 {
        color: $cover-text-color;
        font-size: 26px;
        max-width: 660px;
        margin: 0 auto;
    }
    .cover-slide {
        display: none;
        &.active {
            display: block;
        }
        &.content-top {
            img {
                position: absolute;
            }
        }
    }
    .cover-indicators {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        .indicator {
            display: inline-block;
            margin: 0 15px;
            width: 15px;
            height: 15px;
            background: #FFF;
            border-radius: 50%;
            border: 1px solid #FFF;
            opacity: 0.5;
            cursor: pointer;
            &.active {
                border-color: #0DCECE;
                opacity: 1;
            }
        }
    }
}