.section-experiences {
    background: #FFF;
    .list-experiences {
        // margin-top: 50px;
        // margin-bottom: 50px;
        flex-flow: row wrap;
        padding: 0;
        .experience {
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            border: 1px solid #E8E8E8;
            margin: 20px;
            width: 15vh;
            .experience-image {
                height: 50px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
}