footer {
	background: $footer-background;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;	
	padding-top: 50px;
	
	.footer-title {
		color: $text-white;
		font-size: 30px;
		margin-bottom: 50px;
	}
	.fcontact-form {
		margin-bottom: 30px;
		.fcontact-file, .fcontact-budget-detail {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
		.fcontact-services {
			h2 {
				color: $footer-color-white;
				font-size: 18px;
				margin-bottom: 42px;
			}
			.fcontact-services-list {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-webkit-justify-content: space-between;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				margin-bottom: 55px;
				.fcontact-service {
					color: $footer-color-light-text;
					font-size: 18px;
					margin-bottom: 15px;
					label {
						-webkit-user-select: none;
						   -moz-user-select: none;
						    -ms-user-select: none;
						        user-select: none;
						padding-bottom: 10px;
						display: inline-block;
						-webkit-box-sizing: border-box;
						        box-sizing: border-box;
						height: 30px;
					}
					label.checked {
						border-bottom: 1px solid $footer-color-light-text;
					}
				}
			}
		}
		.fcontact-budget {
			h2 {
				color: $footer-color-white;
				font-size: 15px;
				margin-bottom: 40px;
			}
			.fcontact-budget-bar {
				position: relative;
				height: 22px;
				margin-bottom: 10px;
				.bar {
					position: absolute;
					-webkit-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					        transform: translateY(-50%);
					left: 0;
					width: 100%;
					background: $footer-budget-background;
					height: 6px;
					-webkit-border-radius: 3px;
					        border-radius: 3px;
					z-index: 1;
					.thumb {
						position: absolute;
						width: 8px;
						height: 22px;
						-webkit-border-radius: 4px;
						        border-radius: 4px;
						left: 0;
						top: 50%;
						-webkit-transform: translate(-50%, -50%);
						    -ms-transform: translate(-50%, -50%);
						        transform: translate(-50%, -50%);
						z-index: 999;
						cursor: pointer;
						padding: 15px;
						&.moving::before {
							-webkit-box-shadow: 0 0 5px $footer-budget-thumb;
							        box-shadow: 0 0 5px $footer-budget-thumb;
						}
						&::before {
							position: absolute;
							content: "";
							width: 8px;
							height: 22px;
							-webkit-border-radius: 4px;
							        border-radius: 4px;
							left: 15px;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							    -ms-transform: translate(-50%, -50%);
							        transform: translate(-50%, -50%);
							background: $footer-budget-thumb;
						}
					}
				}
			}
			.fcontact-budget-detail {
				margin-bottom: 70px;
				label {
					-webkit-user-select: none;
					   -moz-user-select: none;
					    -ms-user-select: none;
					        user-select: none;
				}
				.fcontact-budget-value {
					color: $footer-color-white;
				}
				.fcontact-budget-unit {
					color: $footer-color-light-text;
				}
			}
		}
		.fcontact-file {
			-webkit-box-align: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
			color: $footer-color-white;
			h2 {
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
				font-size: 15px;
				display: inline-block;
			}
			img {
				-webkit-user-select: none;
				   -moz-user-select: none;
				    -ms-user-select: none;
				        user-select: none;
				margin-left: 15px;
				display: block;
				height: 16px;
				-o-object-fit: cover;
				   object-fit: cover;
			}
		}
		.fcontact-form-right {
			.form-control {
				border-color: #00DBDB;
				background: none;
				color: $footer-color-light-text;
				&::-webkit-input-placeholder {
					color: #00EDED;
				}
				&::-moz-placeholder {
					color: #00EDED;
				}
				&:-ms-input-placeholder {
					color: #00EDED;
				}
				&::-ms-input-placeholder {
					color: #00EDED;
				}
				&::placeholder {
					color: #00EDED;
				}
				&:-ms-input-placeholder {
					color: #00EDED;
				}
				&::-ms-input-placeholder {
					color: #00EDED;
				}
				&:focus {
					outline: 0;
					-webkit-box-shadow: 0 0 3px #00DBDB, inset 0 0 3px #00DBDB;
					        box-shadow: 0 0 3px #00DBDB, inset 0 0 3px #00DBDB;
				}
				&.invalid {
					-webkit-box-shadow: 0 0 3px red, inset 0 0 3px red;
					        box-shadow: 0 0 3px red, inset 0 0 3px red;
				}
			}
			textarea.form-control {
				height: 150px;
			}
			.form-group {
				font-size: 15px;
				color: $footer-color-white;
				a {
					color: $footer-color-light-text;
					text-decoration: none;
				}
			}
			.btn-send {
				margin-top:30px;
				min-width: 80px;
				border-color: #15FFFF;
				color: $footer-color-light-text;
				&:focus {
					outline: 0;
				}
				&.sending {
					background-color: rgba($color: #15FFFF, $alpha: 0.1);
					font-size: 0px;
					&::after {
						content: " ";
						display: inline-block;
						width: 15px;
						height: 15px;
						-webkit-border-radius: 50%;
						        border-radius: 50%;
						border-style: solid;
						border-width: 3px;
						border-color: #FFF;
						border-top-color: $footer-color-light-text;
						-webkit-animation: sending 1s linear infinite;
						        animation: sending 1s linear infinite;
					}
				}
			}
		}
	}
	.finfo {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
		min-height: 200px;
		width: 100%;
		border-top: 1px solid #00DBDB;
		color : $footer-color-white;
		font-size: 15px;
		a {
			color: $footer-color-white;
			text-decoration: none;
			display: block;
		}
		p {
			width: 100%;
		}
		.finfo-address {
			padding-right: 50px;
			p {
				max-width: 360px;
			}
		}
		.finfo-description {
			border-left: 1px solid rgba(21, 255, 255, 0.3);
			border-right: 1px solid rgba(21, 255, 255, 0.3);
			padding: 0 50px;
			p {
				max-width: 360px;
				margin: 0 auto;
			}
		}
		.finfo-link {
			padding-left: 50px;
		}
		.finfo-title {
			margin-bottom: 14px;
			font-size: 24px;
		}
		
	}
}