.form-group {
	width: 100%;
	margin-bottom: 10px;
}
.form-control {
	color: #333333;
	display: block;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	line-height: 1.5;
	min-width: 100%;
	padding: 8px 12px;
	font-size: 15px;
	border: 1px solid #e3e3e3;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}