.fullpage-section {
    // display: none;
    // align-items: center;
    // justify-content: center;
    // &.fullpage-current {
    //     display: flex;
    //     animation: showSection 1s ease;
    // }
    .section-fullpage {
        height: 100vh;
        transition: transform 1s ease;
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            justify-content: center;
            .row {
                width: 100%;
            }
        }
        .swiper-container {
            width: 100%;
        }
    }
    .section-fullpage.section-cover {
        padding: 75px 0 0 0;
    }
    .fullpage-seemore {
        position: absolute;
        left: 50%;
        bottom: 15px;
        transform: translate(-50%, 0);
        animation: seemore 1.5s linear infinite;
        opacity: 1;
        transition: opacity 1s ease;
        span {
            color: #016E7D;
            font-weight: bold;
            font-size: 18px;
            display: block;
            text-align: center;
            padding-bottom: 15px;
            i {
                font-size: 20px;
            }
        }
        &.hide {
            opacity: 0;
        }
    }
}

.fullpage-navbar {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
    transition: opacity 1s ease;
    opacity: 1;
    .fullpage-navigators {
        padding-right: 15px;
        .fullpage-navigator {
            cursor: pointer;
            margin: 10px 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            * {
                pointer-events: none;
            }
            .circle {
                display: inline-block;
                height: 15px;
                width: 15px;
                background: transparent;
                border: 3px solid #016E7D;
                border-radius: 50%;
                transition: background 1s ease;
            }
            .text {
                position: absolute;
                display: block;
                right: 30px;
                min-width: 150px;
                top: 50%;
                transform: translate(300px, -50%);
                text-align: right;
                font-weight: bold;
                transition: 0.5s ease-out;
            }
            &.active .circle {
                background: #016E7D !important;
            }
            &.active .text {
                color: #016E7D !important;
            }
        }
    }
    &:hover {
        width: 180px;
        .fullpage-navigator {
            .text {
                transform: translate(0, -50%);
            }
            &:hover .text {
                color: $main-color;
            }
        }
    }
    &.hide {
        opacity: 0;
    }
}

@keyframes seemore {
    0% {
        transform: translate(-50%, -5px);
    }
    50% {
        transform: translate(-50%, 5px);
    }
    100% {
        transform: translate(-50%, -5px)
    }
}

@-webkit-keyframes seemore {
    0% {
        transform: translate(-50%, -5px);
    }
    50% {
        transform: translate(-50%, 5px);
    }
    100% {
        transform: translate(-50%, -5px)
    }
}

@keyframes showSectionNav {
    0% {
        transform: translateX(200px);
    }
    20% {
        transform: translateX(210px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

@-webkit-keyframes showSectionNav {
    0% {
        transform: translateX(200px);
    }
    20% {
        transform: translateX(210px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes hideSectionNav {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(210px);
    }
    100% {
        transform: translateX(200px);
    }
}

@-webkit-keyframes hideSectionNav {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(210px);
    }
    100% {
        transform: translateX(200px);
    }
}

@keyframes showSection {
    0% {
        transform: translate3d(0, 100vh, 0);
    }
    100% {
        transform: translate(0, 0, 0);
    }
}