.our-leadership {
    .leadership-member {
        margin-bottom: 20px;
        .member-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 15px;
            margin-right: 15px;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
            }
            margin-bottom: 20px;
        }
        .member-name {
            text-align: center;
            margin-bottom: 15px;
            h2 {
                color: $main-color;
                font-size: 22px;
            }
        }
        .member-position {
            margin-bottom: 15px;
            text-align: center;
            h3 {
                color: #393939;
                font-size: 22px;
            }
        }
        .member-introduce {
            text-align: center;
            p {
                line-height: 22px;
                display: block;
                padding: 0 15px;
            }
        }
    }
}