.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 9999;
    .loader-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .loader-progress-info {
            display: block;
            margin-bottom: 15px;
        }
        .loader-progress-bar {
            display: block;
            width: 200px;
            height: 3px;
            background: -webkit-gradient(linear, left top, right top, from($footer-background), to($main-color));
            background: -webkit-linear-gradient(left, $footer-background, $main-color);
            background: -o-linear-gradient(left, $footer-background, $main-color);
            background: linear-gradient(to right, $footer-background, $main-color);
            position: relative;
            .loader-progress {
                width: 200px;
                top: 0;
                right: 0;
                height: 3px;
                position: absolute;
                background: #FFF;
                z-index: 1;
            }
        }
    }
    &.fade {
        -webkit-animation: fadeOut 1s ease;
        animation: fadeOut 1s ease;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        visibility: hidden;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid $main-color;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $main-color transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}