.maintenance {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 999;
	background: #EDF9FF;
	height: 100vh;
	.inner {
		position: relative;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		background: rgba(0, 0, 0, 1);
		opacity: 0.8;
		width: 300px;
		height: 478px;
		@media (min-width: 768px) {
			width: 672px;
			height: 400px;
		}
		@media (min-width: 1200px) {
			width: 700px;
			height: 400px;
		}
	}
}
.maintenance {
	.inner {
		.maintenance__close {
			position: absolute;
			top: 8px;
			left: 8px;
			color: #FFF;
			font-size: 14px;
			line-height: 40px;
			i {
				margin-left: 12px;
				margin-right: 12px;
				text-align: center;
			}
		}
		.content {
			height: 100%;
			padding: 76px 54px 75px 55px;
			text-align: center;
			h5 {
				margin-bottom: 0;
			}
			.maintenance__header{
				h5 {
					font-family: 'gillsans';
					font-size: 26px;
					color: rgba(255, 255, 255, 1);
					opacity: 0.2;
					text-transform: uppercase;
				}
			}
			.maintenance__image {
				position: relative;
				margin-top: 21.52px;
				margin-bottom: 21.88px;
				height: 95px;
				img {
					position: absolute;
					text-align: center;
					-o-object-fit: cover;
					   object-fit: cover;
					left: 50%;
					
				}
				.top {
					top: 13px;
					display: block;
					margin: 0 auto;
					-webkit-transform: translate(-50%, -50%);
					    -ms-transform: translate(-50%, -50%);
					        transform: translate(-50%, -50%);
				}
				.left, .right {
					display: inline-block;
				}
				.top {
					width: 80px;
				}
				.left {
					width: 95px;
					top: 13px;
					-webkit-transform: translate(-70px, 4px);
					    -ms-transform: translate(-70px, 4px);
					        transform: translate(-70px, 4px);
				}
				.right {
					top: 13px;
					width: 55px;
					vertical-align: top;
					-webkit-transform: translate(-3px, 8px);
					    -ms-transform: translate(-3px, 8px);
					        transform: translate(-3px, 8px);
				}

			}
			.maintenance__description {
				h5 {
					font-family: 'gillsans';
					color: #FFF;
					font-size: 26px;
					margin-bottom: 0;
				}
				p {
					font-family: 'gillsans';
					margin-top: auto;
					font-size: 16px;
					color: rgba(255, 255, 255, 1);
				}
			}
			@media (min-width: 768px) {
				padding: 66px 93px 65px 94px;
			}
			@media (min-width: 1200px) {
				padding: 66px 107px 65px 108px;
			}
		}
	}
}
.maintenance {
	.inner {
		.maintenance__close:hover span {
			    text-decoration: underline;
			    -webkit-text-decoration-color: white;
			            text-decoration-color: white;
		}
		.content {
			.maintenance__image {
				
				.left {
					-webkit-animation: LeftSwivel 4s linear infinite;
					        animation: LeftSwivel 4s linear infinite;
				}
				.right {
					animation: RightSwivel 2s linear infinite reverse;
				}
				@-webkit-keyframes LeftSwivel{
					0% {
						-webkit-transform: translate(-70px, 4px) rotate(0deg);
						        transform: translate(-70px, 4px) rotate(0deg);
					}
					100% {
						-webkit-transform: translate(-70px, 4px) rotate(360deg);
						        transform: translate(-70px, 4px) rotate(360deg);
					}
				}
				@keyframes LeftSwivel{
					0% {
						-webkit-transform: translate(-70px, 4px) rotate(0deg);
						        transform: translate(-70px, 4px) rotate(0deg);
					}
					100% {
						-webkit-transform: translate(-70px, 4px) rotate(360deg);
						        transform: translate(-70px, 4px) rotate(360deg);
					}
				}
				@-webkit-keyframes RightSwivel{
					0% {
						-webkit-transform: translate(-3px, 8px) rotate(0deg);
						        transform: translate(-3px, 8px) rotate(0deg);
					}
					100% {
						-webkit-transform: translate(-3px, 8px) rotate(360deg);
						        transform: translate(-3px, 8px) rotate(360deg);
					}
				}
				@keyframes RightSwivel{
					0% {
						-webkit-transform: translate(-3px, 8px) rotate(0deg);
						        transform: translate(-3px, 8px) rotate(0deg);
					}
					100% {
						-webkit-transform: translate(-3px, 8px) rotate(360deg);
						        transform: translate(-3px, 8px) rotate(360deg);
					}
				}
			}
		}
	}
}