.navbar {
    background: #FFF;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: top 0.5s ease;
    .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    .navbar-branch {
        padding: 12px 0;
        img {
            display: block;
            height: 40px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .navbar-nav {
        display: unset !important;
        flex-direction: unset !important;
        .nav-item {
            display: inline-block;
            margin-left: 1rem;
        }
        .nav-link {
            font-size: 16px;
            display: block;
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            padding: 0.75rem 0rem 0.75rem 1rem;
            h2 {
                font-size: 14px;
                font-weight: bold !important;
                font-family: 'gillsans';
            }
            &.active {
                color: #01BDD5;
            }
        }
    }
    .navbar-collapse {
        flex-basis: unset !important;
        flex-grow: unset !important;
        align-items: unset !important;
    }
    .navbar-collapse-toggle {
        display: none;
        position: absolute;
        top: 15px;
        right: 10px;
        padding: 5px;
        border: none;
        background: none;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: $link-active-color;
        i {
            font-size: 24px;
            pointer-events: none;
        }
        &:focus {
            outline: 0;
            -webkit-box-shadow: 0 0 3px $link-active-color;
            box-shadow: 0 0 3px $link-active-color;
        }
    }
    &.fixed-top {
        background: #FFF;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
}