.section-platforms {
    background: #EBF9FF;
    .list-platforms {
        flex-flow: row wrap;
        padding: 0;
    }
    .col-platform {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }
    .platform {
        padding: 30px 15px;
        position: relative;
        text-align: center;
        background: #FFFFFF;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        .platform-name {
            text-align: center;
            font-size: 20px;
            margin-top: 15px;
            color: $black;
        }
        .platform-icon {
            height: 60%;
            // margin-bottom: 30px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }
}