.notfound {
	height: 100vh;
	width: 100vw;
	background: #EDF9FF;
	.inner {
		/* padding: 0 21px;*/
		height: 100%;
		width: 100%;
		    z-index: 10;
		.content {
			text-align: center;
			height: 100%;
			color: $cover-text-color;
			/* display: flex;*/
			/* flex-flow: column;*/
			/* align-items: baseline;*/
			/* justify-content: baseline;*/
			.notfound__image, .notfound__description, .notfound__link {
				/* flex: 0 0 100%;*/
				/* max-width: 100%;*/
				/* flex-basis: 0;*/
				width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 10;
			}
			.notfound__image {
				/* margin-bottom: 34px;*/
				-webkit-transform: translate(-50%, -85%);
				    -ms-transform: translate(-50%, -85%);
				        transform: translate(-50%, -85%);
				z-index: 10;
				img {
					width: 100%;
					-o-object-fit: cover;
					   object-fit: cover;
				}
			}
			.notfound__description {
				text-align: center;
				-webkit-transform: translate(-50%, -50%);
				    -ms-transform: translate(-50%, -50%);
				        transform: translate(-50%, -50%);
				h5, p {
					margin-bottom: 0;
					
				}
				h5 {
					font-family: 'gillsans';
					font-size: 20px;
				}
				p {
					font-family: 'gillsans';
					font-size: 12px;
				}
			}
			.notfound__link {
				margin-top: auto;
				text-align: center;
				-webkit-transform: translate(-50%, 200px);
				    -ms-transform: translate(-50%, 200px);
				        transform: translate(-50%, 200px);
				ul {
					margin-bottom: 0;
					span {
						width: 1px;
						height: 19px;
						vertical-align: middle;
						display: inline-block;
						background: #004BC3;
						margin: 0 20.5px;
					}
					li {
						display: inline-block;
						a {
							color: $cover-text-color;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.logo {
		position: absolute;
		width: 30px;
		height: 30px;
		top: 38px;
		left: 36px;
		z-index: 999;
		img {
			max-width: 333px;
			height: 100%;
			-o-object-fit: cover;
			   object-fit: cover;
		}
	}
	.lines {
		position: absolute;
		overflow: initial;
		z-index: 99;
		width: 288px;
		z-index: 10;
		img {
			width: 100%;
			-o-object-fit: cover;
			   object-fit: cover;
			-o-object-position: center;
			   object-position: center;
		}
		&.right {
			right: -153px;
			top: 50%;
			text-align: right;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
		&.left {
			left: -188px;
			top: 50%;
			text-align: left;
			-webkit-transform: translateY(-25%);
			    -ms-transform: translateY(-25%);
			        transform: translateY(-25%);
		}
	}
	.animation__area {
		display: none;
	}
	@media (min-width: 768px) {
		.logo {
			width: 40px;
			height: 40px;
			top: 61px;
			left: 61px;
		}
		.inner {
			height: auto;
			.content {
				text-align: left;
				height: auto;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-webkit-flex-flow: row wrap;
				    -ms-flex-flow: row wrap;
				        flex-flow: row wrap;
				-webkit-box-align: start;
				-webkit-align-items: flex-start;
				    -ms-flex-align: start;
				        align-items: flex-start;
				.notfound__image, .notfound__description, .notfound__link {
					text-align: center;
				}
				.notfound__image {
					img {
						max-width: 468px;
					}
				}
				.notfound__description {
					padding-left: 20px;
				}
				.notfound__link {
					display: inline-block;
					width: auto;
					left: 15px;
					-webkit-transform: translate(-0%, -50%);
					    -ms-transform: translate(-0%, -50%);
					        transform: translate(-0%, -50%);
				}
			}
		}
		.lines.left {
			display: none;
		}
		.lines.right {
			top: 50%;
			-webkit-transform: translateY(-50%);
			    -ms-transform: translateY(-50%);
			        transform: translateY(-50%);
		}
	}
	@media (min-width: 1200px) {
		.logo {
			width: 30px;
			height: 30px;
			top: 83px;
			left: 88px;
		}
		.inner {
			padding: 0;
			.content {
				.notfound__image {
					display: block;
					width: auto;
					text-align: right;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-450px, -50%);
					    -ms-transform: translate(-450px, -50%);
					        transform: translate(-450px, -50%);
					margin-bottom: 0;
				}
				.notfound__description {
					text-align: left;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(0, -80px);
					    -ms-transform: translate(0, -80px);
					        transform: translate(0, -80px);
				}
				.notfound__link {
					right: auto;
					left: 50%;
					position: absolute;
					width: auto;
					top: 50%;
					-webkit-transform: translate(335px, 50px);
					    -ms-transform: translate(335px, 50px);
					        transform: translate(335px, 50px);
				}
			}
		}
		.lines.left, .lines.right {
			display: block;
			top: 50%;
			width: 288px;
		}
		.lines.left {
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-821px, -80px);
			    -ms-transform: translate(-821px, -80px);
			        transform: translate(-821px, -80px);
		}
		.lines.right {
			left: 50%;
			top: 50%;
			-webkit-transform: translate(22.5px, -80px);
			    -ms-transform: translate(22.5px, -80px);
			        transform: translate(22.5px, -80px);
		}
		.animation__area {
			display: block;
			position: absolute;
			width: 422px;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			z-index: 1;
			.animation, {
				width: 100%;
				height: 222px;
				border: 1px solid $cover-text-color;
			}
			.background {
				width: 100%;
				height: 222px;
				background: #EDF9FF;
			}
		}
	}
}