@import "../../../../node_modules/swiper/dist/css/swiper";
.section-our-clients {
    background: #FFF;
    .swiper-container {
        .swiper-slide {
            >.row {
                margin: 0 auto;
            }
        }
    }
    .client {
        background-color: $client-background;
        padding: 40px;
        border: 2px solid $border-color;
        .client-image {
            width: 89px;
            height: 89px;
            -o-object-position: center;
            object-position: center;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        .client-description {
            position: relative;
            margin-bottom: 20px;
            font-size: 15px;
            padding: 0 30px;
            &::after,
            &::before {
                content: "";
                position: absolute;
                top: -15px;
                width: 15px;
                height: 15px;
                background-image: url('assets/images/Icon/quote.png');
                -webkit-background-size: cover;
                background-size: cover;
                z-index: 1;
            }
            &::before {
                left: 0;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
            &::after {
                right: 0;
            }
        }
        .client-name {
            color: $client-name-color;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .client-position {
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    .swiper-pagination {
        position: relative;
        margin-top: 50px;
        .swiper-pagination-bullet {
            width: 18px;
            height: 18px;
            background-color: $pagination-color;
            opacity: 1;
            -webkit-transition: 0.5s ease;
            -o-transition: 0.5s ease;
            transition: 0.5s ease;
            border: 3px solid $pagination-color;
            &.swiper-pagination-bullet-active {
                border: 3px solid $pagination-color;
                background-color: #FFF;
            }
        }
    }
}