.section-our-services {
    padding-top: 100px;
    padding-bottom: 100px;
    .our-services {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        >div {
            padding-left: 0;
            padding-right: 0;
            padding: 1px 1px;
        }
        .our-service {
            position: relative;
            display: block;
            height: 25vh;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-transition: 1s ease;
            -o-transition: 1s ease;
            transition: 1s ease;
            color: $black;
            border: 2px solid #f4f4f4;
            .front,
            .back {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-flow: row wrap;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                -webkit-transition: -webkit-transform 0.4s;
                transition: -webkit-transform 0.4s;
                -o-transition: transform 0.4s;
                transition: transform 0.4s;
                transition: transform 0.4s, -webkit-transform 0.4s;
            }
            .front {
                background: #FFF;
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
                z-index: 1;
                .our-service-icon {
                    display: block;
                    text-align: center;
                    img {
                        margin: 0 auto;
                        height: 10vh;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: center;
                        object-position: center;
                    }
                }
                .our-service-name {
                    text-align: center;
                    h2 {
                        color: #454545;
                        font-size: 16px;
                        font-family: 'gillsans';
                    }
                }
            }
            .back {
                background: #FFF;
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                z-index: 2;
                color: #454545;
                text-decoration: none;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                .our-service-description {
                    padding: 0 30px;
                    text-align: center;
                }
            }
        }
        .our-service:hover {
            .front {
                -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
            }
            .back {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
            }
        }
    }
}