.section-partner {
    background: #FFF;
    .swiper-shadow {
        width: 100%;
        padding: 30px 0;
        box-shadow: inset 0 60px 40px -80px #CCC, inset 0 -60px 40px -80px #CCC;
    }
    .swiper-container {
        margin-left: -25px;
        margin-right: -25px;
        padding: 0 25px;
        .swiper-wrapper {
            justify-content: center;
            .swiper-slide {
                text-align: center;
            }
            .swiper-slide img {
                height: 75px;
                object-fit: cover;
                object-position: center;
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            position: absolute;
            color: #a9a9a9;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size: 30px;
            border-radius: 50%;
            box-shadow: inset 0 0 6px rgba($color: #a9a9a9, $alpha: 0.5);
            opacity: 1;
            // border: 1px solid #a9a9a9;
            i {
                vertical-align: middle;
            }
            img {
                height: 15px;
                display: block;
                object-fit: cover;
            }
        }
        .swiper-button-prev {
            left: 0px;
        }
        .swiper-button-next {
            right: 0px;
        }
    }
}