.section-products {
    padding: 0;
    .categories {
        margin-top: 30px;
        margin-bottom: 30px;
        ul {
            height: 100px;
            list-style: none;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            flex-flow: row wrap;
            .category {
                display: inline-block;
                cursor: pointer;
                font-weight: bold;
                margin-right: 30px;
                color: $category-color-default;
                font-size: 15px;
                padding-bottom: 5px;
                h2 {
                    font-size: 15px;
                }
                &.active {
                    color: $category-color-active;
                    border-bottom: 2px solid $category-color-active;
                    padding-bottom: 3px;
                }
            }
        }
    }
    .list-products {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 100px;
        .product-area {
            margin-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
            .product {
                display: block;
                position: relative;
                width: 100%;
                overflow: hidden;
                .product-background {
                    display: block;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    -webkit-transition: 3s;
                    -o-transition: 3s;
                    transition: 3s;
                }
                .product-inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-color: rgba(0, 0, 0, 0.3);
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: end;
                    -webkit-align-items: flex-end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    padding-bottom: 40px;
                    z-index: 1;
                    transition: background 1s ease;
                    h3 {
                        color: #FFF;
                        font-size: 22px;
                        transition: 0.5s ease;
                    }
                }
                .product-inner:hover {
                    background-color: transparent;
                    h3 {
                        transform: translateY(300px);
                    }
                }
            }
        }
    }
}