.section-product {
    .product-image {
        width: 100%;
        object-fit: cover;
    }
    .product-name,
    .product-client,
    .product-requirement {
        font-weight: bold;
        font-family: 'gillsans';
        margin-bottom: 15px;
        label {
            font-weight: bold;
            color: #535353;
            font-size: 16px;
        }
    }
    .product-name {
        font-size: 22px;
        color: $main-color;
    }
    .product-client {
        display: flex;
        align-items: center;
        img {
            margin-left: 10px;
            height: 50px;
            object-fit: cover;
        }
    }
    .product-requirement {
        p {
            font-weight: normal;
            text-align: justify;
            text-align-last: left;
            line-height: 30px;
        }
    }
}