.section {
    width: 100%;
    padding: 94px 0 0 0;
    background: #FFF;
    &.section-bg {
        background-color: $background;
    }
    .section-header {
        color: $header-color;
        font-size: $header-size;
        text-align: center;
        margin-bottom: 10px;
    }
    .section-description {
        text-align: center;
        font-size: $description-size;
        color: $description-color;
        margin-bottom: 75px;
        margin-left: auto;
        margin-right: auto;
        max-width: 992px;
    }
    &.section-company, &.section-product {
        margin-bottom: 75px;
    }
}