.section-services {
    .list-service {
        margin-left: -25px;
        margin-right: -25px;
    }
    .service {
        margin-bottom: 50px;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
        .service-image {
            margin-left: auto;
            margin-right: auto;
            width: 80px;
            height: 80px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: 2px solid #01BDD5;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            img {
                max-height: 35px;
                max-width: 45px;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
            }
            margin-bottom: 10px;
        }
        .service-name {
            color: $service-name-color;
            font-size: 22px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .service-description {
            color: $service-text-color;
            font-size: 16px;
            padding: 0 10px;
        }
    }
}