.section-technology {
    p {
        white-space: pre-line;
        line-height: 24px;
        font-size: 16px;
    }
    h2 {
        color: #0DCECE;
        font-size: 16px;
    }
    .technology-description {
        margin-bottom: 50px;
    }
    .technology {
        position: relative;
    }
    .technology-content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        width: calc(100% - 70px);
        height: 100%;
        margin-left: 70px;
        line-height: 22px;
        margin-bottom: 34px;
        min-height: 50px;
    }
    .technology-image {
        width: 60px;
        height: 60px;
        border: 1px solid #E8E7E7;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        img {
            display: block;
            object-fit: cover;
            max-width: 40px;
            max-height: 40px;
        }
    }
}