$topbar-height: 30px;
$topbar-font: 12px;
.topbar {
    width: 100%;
    height: $topbar-height;
    background: #E5F8FF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    .topbar-welcome {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: $topbar-height;
        span {
            font-size: $topbar-font;
        }
        a {
            margin-left: 5px;
            margin-right: 5px;
            img {
                height: 20px;
                -o-object-fit: cover;
                object-fit: cover;
                display: block;
            }
        }
    }
    .topbar-language {
        ul {
            height: $topbar-height;
            li {
                display: inline-block;
                height: $topbar-height;
                a {
                    height: 100%;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    text-decoration: none;
                    color: $black;
                    font-size: $topbar-font;
                    img {
                        margin-right: 20px;
                        height: 12px;
                        -o-object-fit: cover;
                        object-fit: cover;
                    }
                }
                a.active {
                    color: #004EC0;
                }
            }
        }
        a {
            img {
                height: 19px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
}