<section class="section section-products">
    <div class="container">
        <div class="row">
            <div class="col-12 categories">
                <ul>
                    <li class="category" [ngClass]="filterCat == 0 ? 'active' : ''" (click)="filterCategory($event, 0)">
                        <h2>Show All</h2>
                    </li>
                    <li *ngFor="let cat of categories" class="category" [ngClass]="filterCat == cat.id ? 'active' : ''" (click)="filterCategory($event, cat.id)">
                        <h2>{{ cat.name }}</h2>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row list-products">
            <div *ngIf="filterCat == 0;then showAll else filter"></div>
            <ng-template #showAll>
                <div *ngFor="let product of products" class="col-sm-6 col-lg-4 product-area">
                    <a [routerLink]="['/product', product.slug]" class="product">
                        <img class="product-background" src="{{ product.image }}" alt="{{ product.name }}" (load)="productImageLoaded($event)"  />
                        <div class="product-inner">
                            <h3 class="text-uppercase product-name">{{ product.name }}</h3>
                        </div>
                    </a>
                </div>
            </ng-template>
            <ng-template #filter>
                <div *ngFor="let product of filtedProducts" class="col-sm-6 col-lg-4 product-area">
                    <a [routerLink]="['/product', product.slug]" class="product">
                        <img class="product-background" src="{{ product.image }}" alt="{{ product.name }}" (load)="productImageLoaded($event)" />
                        <div class="product-inner">
                            <h3 class="text-uppercase product-name">{{ product.name }}</h3>
                        </div>
                    </a>
                </div>
            </ng-template>
        </div>
    </div>
</section>