<section class="section section-product" *ngIf="product">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <img class="product-image" src="{{ product.detail_image }}" alt="{{ product.name }}" />
            </div>
            <div class="col-md-6">
                <div class="product-name"><label class="text-uppercase">Project: </label>{{ product.name }}</div>
                <div class="product-client"><label class="text-uppercase">Client: </label><img src="{{ product.client }}" alt="{{ product.name }} Client" /></div>
                <div class="product-requirement">
                    <label class="text-uppercase">Requirement: </label>
                    <p>{{ product.requirement }}</p>
                </div>
            </div>
        </div>
    </div>
</section>