<!-- HEADER -->
<div class="preload-fonts" style="opacity: 0;">
    <span style="font-family: 'gillsans';"></span>
    <span style="font-family: 'gillsans-bold'"></span>
</div>
<header>
    <public-header></public-header>
</header>
<!-- HEADER -->
<!-- MAIN CONTENT -->
<!-- <main [@routeAnimations]="prepareRoute(outlet)" style="min-height: 100vh; overflow: hidden;" class="fullpage-wrapper" #appFullpage>
    <router-outlet #outlet="outlet"></router-outlet>
</main> -->
<main *ngIf="loaded" style="min-height: 100vh; overflow: hidden;" class="fullpage-wrapper" #appFullpage>
    <router-outlet></router-outlet>
</main>
<!-- MAIN CONTENT -->
<!-- FOOTER -->

<public-footer></public-footer>

<!-- FOOTER -->

<!-- LOADER -->
<div class="loader" [ngClass]="loaded ? 'fade' : ''">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- LOADER-->