<section class="section section-blog">
  <div class="container-fluid">
    <div class="row blog-banner">
      <div class="col-md-5 blog-banner_content">
        <div class="blog-banner_content-title">
          <p>media</p>
          <h2>PRESS<br>RELEASE</h2>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A sit sed congue leo aenean eu suscipit velit.</span>
        </div>
      </div>
      <div class="col-md-7 blog-banner_image">
        <img src="../../../assets/images/blog/amit-media.jpg" alt="amit-media">
      </div>
    </div>

    <div class="blog-content">
      <ul class="nav nav-tabs blog-content_list" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link blog-content_list--item" id="event-tab" data-toggle="tab" data-target="#event" role="tab" aria-controls="event" aria-selected="true">news/events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link blog-content_list--item active" id="blog-tab" data-toggle="tab" data-target="#blog" role="tab" aria-controls="blog" aria-selected="false">blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link blog-content_list--item" id="document-tab" data-toggle="tab" data-target="#document" role="tab" aria-controls="document" aria-selected="false">documents</a>
        </li>
      </ul>
      <div class="tab-content blog-content_docs" id="myTabContent">
        <div class="tab-pane blog-content_docs-item fade" id="event" role="tabpanel" aria-labelledby="event-tab">EVENT</div>
        <div class="tab-pane blog-content_docs-item fade show active" id="blog" role="tabpanel" aria-labelledby="blog-tab">
          <div class="blogs-list">
            <div class="blogs-list_item">
              <div class="blogs-list_item-time">
                <span>February 10,2022</span>
              </div>
              <div class="blogs-list_item-title">
                <h3>Xu hướng “Bất đối xứng” lên ngôi</h3>
              </div>
              <div class="blogs-list_item-more">
                <p>Xem thêm</p>
              </div>
            </div>
            <div class="blogs-list_item">
              <div class="blogs-list_item-time">
                <span>February 10,2022</span>
              </div>
              <div class="blogs-list_item-title">
                <h3>Xu hướng “Bất đối xứng” lên ngôi</h3>
              </div>
              <div class="blogs-list_item-more">
                <p>Xem thêm</p>
              </div>
            </div>
            <div class="blogs-list_item">
              <div class="blogs-list_item-time">
                <span>February 10,2022</span>
              </div>
              <div class="blogs-list_item-title">
                <h3>Xu hướng “Bất đối xứng” lên ngôi</h3>
              </div>
              <div class="blogs-list_item-more">
                <p>Xem thêm</p>
              </div>
            </div>
            <div class="blogs-list_item">
              <div class="blogs-list_item-time">
                <span>February 10,2022</span>
              </div>
              <div class="blogs-list_item-title">
                <h3>Xu hướng “Bất đối xứng” lên ngôi</h3>
              </div>
              <div class="blogs-list_item-more">
                <p>Xem thêm</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane blog-content_docs-item fade" id="document" role="tabpanel" aria-labelledby="document-tab">DOCUMENT</div>
      </div>
    </div>

    <div class="blog-gallery">
      <div class="blog-gallery_title">
        <h2>GALLERY</h2>
      </div>
      <div class="row">
        <div class="col-md-4 blog-gallery_item">
          <img src="../../../assets/images/blog/amit-media.jpg" alt="amit-media">
        </div>
        <div class="col-md-4 blog-gallery_item">
          <img src="../../../assets/images/blog/amit-media.jpg" alt="amit-media">
        </div>
        <div class="col-md-4 blog-gallery_item">
          <img src="../../../assets/images/blog/amit-media.jpg" alt="amit-media">
        </div>
        <div class="col-md-4 blog-gallery_item">
          <img src="../../../assets/images/blog/amit-media.jpg" alt="amit-media">
        </div>
        <div class="col-md-4 blog-gallery_item">
          <img src="../../../assets/images/blog/amit-media.jpg" alt="amit-media">
        </div>
      </div>
    </div>
  </div>
</section>