<div class="notfound">
	<div class="inner">
		<div class="content">
			<div class="notfound__image">
				<img src="" src="{{imageUrl}}" class="lazy" alt="404">
			</div>
			<div class="notfound__description">
				<h5>Ooops! not found</h5>
				<p>Nothing to see here!</p>
			</div>
			<div class="notfound__link">
				<ul >
					<li>
						<a href="javascript: void(0)" (click)="backPrevious()">Back to previous</a>
					</li>
					<span></span>
					<li>
						<a routerLink="/">Homepage</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<a class="logo" routerLink="/">
		<img  class="lazy" src="{{logo}}" alt="Logo" />
	</a>
	<div class="lines right">
		<img src="{{lineUrl}}" class="lazy" alt="Lines" />
	</div>
	<div class="lines left">
		<img src="{{lineUrl}}" class="lazy" alt="Lines" />
	</div>
	<div class="animation__area">
		<div class="animation animation--top">
			<canvas width="422" height="222" id="particlesField" class="particlesField" #particles_field_1></canvas>
		</div>
		<div class="background"></div>
		<div class="animation animation--bottom">
			<canvas width="422" height="222" id="particlesField2" class="particlesField" #particles_field_2></canvas>
		</div>
	</div>
</div>
