<footer>
    <!-- FOOTER CONTACT FORM -->
    <div class="container fcontact">
        <!-- FOOTER TITLE -->
        <h1 class="col-12 text-uppercase text-center footer-title">
            PLEASE CONTACT US
        </h1>
        <!-- FOOTER TITLE -->
        <form class="fcontact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
            <div class="row">
                <div class="col-md-6 fcontact-form-left">
                    <div class="fcontact-services">
                        <h2 class="text-uppercase">Pick services for inquiries</h2>
                        <div class="row fcontact-services-list">
                            <div *ngFor="let service of contactForm.controls.services.controls; let i = index" class="col-6 col-sm-4 fcontact-service" [ngClass]="service ? 'active' : ''">
                                <label for="{{ servicesArray[i].id }}" formArrayName="services">
									{{ servicesArray[i].name }}
									<input type="checkbox" id="{{ servicesArray[i].id }}" [formControlName]="i" (change)="onServiceChange($event)" hidden />
								</label>
                            </div>
                        </div>
                    </div>
                    <div class="fcontact-budget">
                        <h2 class="text-uppercase">YOUR BUDGET</h2>
                        <div class="fcontact-budget-bar">
                            <div class="bar" #budget_bar>
                                <div class="thumb" (touchstart)="slideStart($event)" (touchend)="slideEnd($event)" (mousedown)="slideStart($event)" (mouseup)="slideEnd($event)" #budget_thumb></div>
                            </div>
                        </div>
                        <div class="fcontact-budget-detail">
                            <label class="fcontact-budget-value">{{ contactForm.get('budget').value | number: '1.0-0' }}</label>
                            <label class="ml-auto fcontact-budget-unit">(US Dollar)</label>
                        </div>
                    </div>
                    <div class="fcontact-file">
                        <h2 class="">Attach a file?</h2>
                        <label class="fcontact-custom-upload" for="attach_file">
							<input type="file" id="attach_file" formControlName="file" hidden />
							<img src="../../../assets/images/Icon/attach.svg" alt="Icon Upload" />
						</label>
                    </div>
                </div>
                <div class="col-md-6 fcontact-form-right">
                    <div class="form-group">
                        <input type="text" class="form-control" [ngClass]="(contactForm.get('name').invalid && contactForm.get('name').touched) ? 'invalid' : ''" formControlName="name" placeholder="Your Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [ngClass]="(contactForm.get('email').invalid && contactForm.get('email').touched) ? 'invalid' : ''" formControlName="email" placeholder="Your Email" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" [ngClass]="(contactForm.get('phone').invalid && contactForm.get('phone').touched) ? 'invalid' : ''" formControlName="phone" placeholder="Your Phone" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" formControlName="message" [ngClass]="(contactForm.get('message').invalid && contactForm.get('message').touched) ? 'invalid' : ''"></textarea>
                    </div>
                    <div class="form-group">
                        By sending this, you accept our <a routerLink="/privacy-policy" target="_blank">privacy policy</a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-send" [ngClass]=" isSending ? 'sending' : ''">
							Send
						</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- FOOTER CONTACT FORM -->
    <!-- FOOTER INFORMATIONS -->
    <div class="finfo">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase finfo-title">
                        {{ demo.COMPANY_NAME }}
                    </h1>
                </div>
                <div class="col-lg finfo-address">
                    <p>{{ demo.COMPANY_ADDRESS }}</p>
                </div>
                <div class="col-lg finfo-description">
                    <p>{{ demo.COMPANY_DESCRIPTION }}
                </div>
                <div class="pl-8 text-right finfo-link">
                    <a href="mailto:{{ demo.COMPANY_EMAIL}}">{{ demo.COMPANY_EMAIL }}</a>
                    <a href="tel:{{ demo.COMPANY_PHONE }}">{{ demo.COMPANY_PHONE }}</a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-top-fixed" (click)="scrollToTop($event)">
        <img src="../../../assets/images/Icon/up-arrow.png" alt="Up Arrow Icon" />
    </button>
    <!-- FOOTER INFORMATIONS -->
</footer>